.input-file-container {
    position: relative;
    width: 140px;
  } 
  .js .input-file-trigger {
    display: block;
    padding: 10px 27px;
    background: #68B3C8;
    color: #fff;
    font-size: 1em;
    transition: all .4s;
    cursor: pointer;
    border-radius: 20px;
    cursor:pointer;
  }
  .js .input-file {
    position: absolute;
    top: 0; left: 0;
    width: 225px;
    opacity: 0;
    padding: 14px 0;
    cursor: pointer;
  }
  .js .input-file:hover + .input-file-trigger,
  .js .input-file:focus + .input-file-trigger,
  .js .input-file-trigger:hover,
  .js .input-file-trigger:focus {
    background: #5594A5;
  }
  
  .file-return {
    margin: 0;
  }
  .file-return:not(:empty) {
    margin: 1em 0;
  }
  .js .file-return {
    font-style: italic;
    font-size: .9em;
    font-weight: bold;
  }
  .js .file-return:not(:empty):before {
    content: "Selected file: ";
    font-style: normal;
    font-weight: normal;
  }

  .image-preview{
    padding: 5px;
    margin: 5px;
    border: 1px solid #d8d6d6;
    border-radius: 4px;
    background-color: #F4F4F4;
    min-height: 200px;
    text-align: center;
}
.image-preview #image-preview{
    height: 200px;
    max-width: 100%;
}
  
  
  
  
  
  
