#submit_policy{
    font-size:24px;
    -webkit-transition: background-color .3s ease;
    transition: background-color .3s ease;
    padding:10px 15px;
    height: auto;
    
}
#section_confirm{
    padding-top: 110px;
    min-height: 628px;
}
.wrap-confirm{
    padding-top:30px;
    text-align: center;
    margin:0 auto;
}
.wrap-confirm p{
    font-size:24px;   
}
.wrap-confirm .detail{
    padding-top:40px;
    margin-bottom: 40px;
}
.wrap-confirm .detail p{
    text-align: left;
    font-size:20px;
}
.faild-text{
    padding-top:20px;
}
.faild-text p {
    font-size:24px;
    color:#ab102e;
}

.nav-btn .btn{
    display: none !important;
}