
#section_garage{
    margin-top:110px;
}
.wrap-garage{
    width:100%;
    height: 180px;
    background-image: url('../../images/web/background/garage.png');
    background-size:cover;
    background-position:center;
    padding: 15px 0px;
    -webkit-box-shadow: 1px 1px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 1px 1px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 1px 1px 5px 0px rgba(0,0,0,0.75);
}
.wrap-garage .section-title{
    margin-bottom: 10px;
    margin-top: 3px;
}
.wrap-garage .itemcar{
    position: absolute;
    width:650px;
    bottom: 15px;
    left: 100px;
    z-index: 1;
    -webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
    transition: all .5s ease;
}
.wrap-garage .itemcar img{
    width:100%;
}
.wrap-garage .garage-box{
    position:relative;
    height:auto;
    margin: 0 auto;
    background-color:#FFFFFF;
    -moz-box-shadow: 0 2px 10px rgba(0,0,0,0.2);
    box-shadow: 0 2px 10px rgba(0,0,0,0.2);
}
.wrap-garage .garage-box .nav-pills{
    position:relative;
    display: block;
}
.wrap-garage .garage-box .nav-pills li{
    border: 0px;
    margin: 0px;
    width:50%;
    text-align: center;
    background-color:#ccc;
    -webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
    transition: all .5s ease;
}
.wrap-garage .garage-box .nav-pills li a{
    color:#FFFFFF;
    -webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
    transition: all .5s ease;
    border-radius: 0px;
}
.wrap-garage .garage-box .nav-pills li a:hover{
    background-color:#9d9d9d;
    color:#FFFFFF;
}
.wrap-garage .garage-box .nav-pills li.active a{
    background-color:#FFFFFF;
    color:#222;
}
.wrap-garage .tab-pane{
    padding: 27px 20px 10px 20px;
}

.wrap-garage .select2-container--bootstrap .select2-selection--single .select2-selection__rendered {
    color:#222;
}
.wrap-garage .select2-container--bootstrap .select2-selection--single {
    background-color: transparent;
    border: 1px solid #aaa;
}
.wrap-garage .select2-container--bootstrap .select2-selection--single .select2-selection__arrow {
    top: 1px;
    right: 1px;
}
.wrap-garage .form_garage .btn{
    margin-left: 0;
    width: 90px;
    height: 37px;
    font-size: 16px;
}
.wrap-garage .input-text{
    background-color: transparent;
    border: 1px solid #aaa;
    font-size: 16px;
    padding: 5px 10px;
    height: 37px;
}
.wrap-garage #tab-name{
    padding-bottom: 30px;
}
.wrap-garage .result-box{
    position: absolute;
    display:none;
    z-index: 100;
    width: 100%;
    max-height: 400px;
    background-color: #FFFFFF;
    -webkit-box-shadow: 1px 2px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 1px 2px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 1px 2px 5px 0px rgba(0,0,0,0.75);
    overflow-y: auto;
    overflow-x: hidden;
    color:#222;
}
.wrap-garage .result-box ul{
    list-style: none;
    padding:0;
    margin:0;
    
}
.wrap-garage .result-box ul li{
    cursor:pointer;
    padding: 10px 30px;
    border-bottom:1px solid rgb(235, 235, 235);
}
.wrap-garage .result-box ul li:hover{
    color:#FFFFFF;
    background-color: #C80027;
}
.wrap-garage .result-box h3{
    font-size:20px;
    margin:0;
}
.wrap-garage .result-box p{
    margin:0;
}


.garage-map{
    width: calc(100% - 370px);
    height: 100%;
    background-color:#FFFFFF;
}
.garage-list{
    position:relative;
    width: 370px;
    background-color:#FFFFFF;
    height: 100%;
    background-size: cover;
    background-position: center;    
    padding:0;
    
}
.garage-list .search-title {
    font-family: 'rsu';
    display:none;
    font-size:18px;
    padding:10px;
    text-align: left;
    background-color:#C80027;
    color:#FFFFFF;
}
.garage-list .search-title b{
    font-family: 'rsu_bold';
    font-weight: bold;
    font-size:20px;
}
.garage-list .search-title-loading {
    font-family: 'rsu';
    font-size:18px;
    padding:10px;
    text-align: left;
    background-color:#C80027;
    color:#FFFFFF;
}
.garage-list .loding-icon{
    position: absolute;
    z-index: 1000;
    width: 100%;
    max-height: 100%;
    bottom: 0;
    left: 0;
}
.garage-list .loding-icon > img{
    width:100%;
}

.row-result{
    height: 72vh;
}
.garage-list .search-result{
    max-height: 100%;
    overflow-y: scroll;
}
.garage-list .search-result ul{
    list-style: none;
    padding: 0px;
}
.garage-list .search-result ul li{
    padding: 10px;
    background-color:#FFFFFF;
    border-bottom:1px solid rgb(211, 211, 211);
    cursor:pointer;
}
.garage-list .search-result ul li.clone{
    display:none;
}

.garage-list .search-result ul li:last-child{
    border: 0px solid;
}
.garage-list .search-result ul li.active{
    background-color:#DEDEDF;
}
.garage-list .search-result ul li a.tag{
    width: 30px;
    height: 30px;
    float: left;
    text-align: center;
    -moz-border-radius: 7px;
    border-radius: 7px;
    margin-right: 15px;
    background: #c80027;
    font-family: 'RSU';
    font-size: 18px;
    line-height: 1.7;
    font-weight: 400;
    color: #fff;
}
.garage-list .search-result ul li div.list-names{
    padding-top:4px;
}
.garage-list .search-result ul li div.list-address{
    display:none;
}
.garage-list .search-result ul li.active div.list-address{
    display:block;
}


@media only screen and (max-width:991px){
    #section_garage{
        margin-top:68px;
    }
    .garage-list{
        float: none !important;
        width:100%;
    }
    .garage-map{
        width:100%;
        height:70vh;
        float: none !important;
    }
    .row-result {
        height: auto;
    }
    .garage-list .search-result {
        height:auto;
    }

    .garage-list .loding-icon {
        max-height: 100%;
        top: 0;
    }



}


@media (max-width:768px){

    /* garage */
    .wrap-garage {
        height: 350px;
    }
    .wrap-garage .garage-box {
        width: 100%;
    }
    .wrap-garage .col-input{
        padding-left:20px;
    }
    .wrap-garage .itemcar {
        width: 300px;
        bottom: 15px;
        left: 50px;
        z-index: 1;
    }
}