/******************** Global *********************/
.section-title{
    width: 100%;
    font-family: 'rsu_bold';
    font-size: 45px;
    line-height: 1.2em;
    color: #3C3C3B;
    margin: 10px 0px 20px 0px;
    text-align: center; 
}
.section-title span{
    color: #FF4343;
}

.loading{    
    content: "";
    background-color: #25242440;
    background-image: url('../../images/web/icon/home_loading.gif');
    background-size: 45px;
    background-position: center;
    background-repeat: no-repeat;
}
.input-number{
    background-color: transparent;
    border: 2px solid #3C3C3B;
    border-radius: 7px !important;
    outline: none;
    color:#3C3C3B;
    height: 39px;
    font-size: 18px !important;
    padding-left: 30px;
}
.input-number::-webkit-inner-spin-button, 
.input-number::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

.input-number::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    font-family: 'rsu';
    font-size: 18px;
    color: #3C3C3B;
    opacity: 1; /* Firefox */
}

.input-number:-ms-input-placeholder { /* Internet Explorer 10-11 */
    font-family: 'rsu';
    font-size: 18px;
    color: #3C3C3B;
}

.input-number::-ms-input-placeholder { /* Microsoft Edge */
    font-family: 'rsu';
    font-size: 18px;
    color: #3C3C3B;
}

.select2-container--bootstrap .select2-selection--single .select2-selection__rendered{
    color:#3C3C3B;
}
.select2-container--bootstrap .select2-selection--single{
    border: 2px solid #3C3C3B;
    
}
.select2-container--bootstrap .select2-selection--single .select2-selection__arrow{
    background: #FF4343;
}
.select2-container--bootstrap .select2-selection--single .select2-selection__arrow{
    width: 32px;
    height: 37px;
    background: #FF4343;
    border-left: 2px solid white;
    -moz-border-radius-topright: 7px;
    border-top-right-radius: 5px;
    -moz-border-radius-bottomright: 7px;
    border-bottom-right-radius: 5px;
    top: 2px;
    right: 2px;
}
.select2-container--bootstrap .select2-results__option--highlighted[aria-selected]{
    background: #FF4343;
}
label.error{
    padding: 0px 5px;
    margin-top: 6px;
    color: #FF4343;
}
@media screen and (max-width: 992px){
    .select2-container--bootstrap .select2-selection--single{
        background-color: #FFFFFF;
    }
    label.error{
        text-shadow: 0px 0px 0.5px #000000;
    }
}

/******************** Banner *********************/
.wrap-banner{
    height: 600px;
    background:url('../../images/web/background/BigBanner.jpg') no-repeat bottom center transparent;
    background-size: cover;
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    transition: all 1s ease;
}
#section-other{
    height:2000px;
    background-color:#FFFFFF;
}
.wrap-banner .itembg {
    position: absolute;
    width: 140px;
    bottom: 35px;
    left: 20px;
    z-index: 0;
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    transition: all 1s ease;
}
.wrap-banner .itembg img{
    width:100%;
}
.wrap-banner .line {
    position: absolute;
    width: 47%;
    float: left;
    height: 7px;
    background: #5a5a5c;
    bottom: 110px;
    left: 130px;
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    transition: all 1s ease;
}
.wrap-banner .line:after {
    content: "";
    width: 40px;
    height: 46px;
    float: right;
    position: relative;
    top: -5px;
    right: -20px;
    background: url('../../images/web/icon/banner-item3.png') no-repeat;
}

.wrap-banner .container{
    margin-top: 110px;
}
.wrap-banner .calculate-box{
    position:relative;
    font-family: 'rsu_bold';
    color:#3C3C3B;
    font-size: 16px;
}
.wrap-banner .title .icon{
    font-size:50px;
}
.wrap-banner .row-item{
    padding-left:0px;
    padding-right:0px;
}
.wrap-banner .form_calculate h3{
    font-size:26px;
}
.wrap-banner .form_calculate .form-control{
    font-size:16px;
}
.wrap-banner .form_calculate .footer-row span{
    display:inline-block;
    margin-right: 10px;
}
.wrap-banner .form_calculate button.my-radio{
    font-size: 18px;
    padding: 5px 0px;
    width: 150px;
    line-height: 2.5rem;
    background: transparent;
    border: 2px solid white;
    border-radius: 7px;
    margin-right: 10px;
    -webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
    transition: all .5s ease;
}
.wrap-banner .form_calculate button.my-radio:hover,.wrap-banner .form_calculate button.my-radio.active{
    background-color:#c80027;
}
.wrap-banner .form_calculate .btn{
    font-size: 18px;
    margin-left: 0px;
    height: 39px;
}
.wrap-banner .footer-btn-group{
    text-align: left;
}
.wrap-banner .footer-btn{
    display: inline-block;
}

/*************** Why Sompo *****************/
.wrap-why{
    padding:15px 0px;
    background-color: #FFFFFF;
}
.wrap-why .slide-row *{
    outline: none !important;
}
.wrap-why article{
    text-align: center;
    margin-bottom: 20px;
    padding:0 15px;
}
.wrap-why article .article_cover img{
    margin: 0 auto;
    height: 134px;
    width: auto;
}
.wrap-why article .article_title h1{
    font-size:30px;
    margin-top: 10px;
    color:#FF4343;
}
.wrap-why article .article_paragraph p{
    margin: 10px 0 0px;
    font-family: 'RSU';
    font-size: 16px;
    line-height: 1.2em;
    font-weight: 400;
    color: #777;
}
.wrap-why .slick-dots li.slick-active button:before {
    color: #c80027;
}
.wrap-why  .slick-dots li button:before {
    font-size:10px;
    color: #c80027;
}

/**************** Product ********************/
.wrap-product{
    padding:15px 0px;
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0.42, #F2F2F2), color-stop(0.68, #fff));
    background-image: -moz-linear-gradient(bottom, #F2F2F2 42%, #fff 68%);
    background-image: -webkit-linear-gradient(bottom, #F2F2F2 42%, #fff 68%);
    background-image: -webkit-linear-gradient(top, #F2F2F2 42%, #fff 68%);
    background-image: -moz-linear-gradient(top, #F2F2F2 42%, #fff 68%);
    background-image: linear-gradient(to bottom, #F2F2F2 42%, #fff 68%);
}
.wrap-product .slide-row *{
    outline: none !important;
}
.wrap-product article{
    position: relative;
    text-align: center;
    margin-bottom: 30px;
    background: #f7f7f9;
}
.wrap-product article .article_cover img{
    margin: 0 auto;
    width: 100%;
    object-fit: cover;
}
.wrap-product article .article_cover span{
    width: 55px;
    height: 55px;
    -moz-border-radius: 50px;
    border-radius: 50px;
    background-color: #ed5564;
    position: absolute;
    z-index: 1;
    text-align: center;
    margin-top: -26px;
    font-size: 36px;
    color: white;
    padding-top: 7px;
    left: 50%;
    margin-left: -27px;
    cursor:pointer;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    transition: all .3s ease;
}
.wrap-product article .article_cover span:hover{
    background-color: #ff0838;
}
.wrap-product article .article_title h1{
    font-size:26px;
    margin-top: 50px;
    color: #ff0838;
}
.wrap-product article .article_paragraph p{
    padding: 0px 15px 30px 15px;
    margin: 10px 0 0px;
    font-family: 'RSU';
    font-size: 16px;
    line-height: 1.2em;
    font-weight: 400;
    color: #3C3C3B;
}
.wrap-product article .article_detail{
    position: absolute;
    width:100%;
    height:100%;
    background: #FFFFFF;
    color:#3C3C3B;
    top:0px;
    left:0px;
    padding:15px;
    z-index: 2;
    display: none;
}
.wrap-product article .article_detail h2{
    font-family: 'ArialBold';
    text-align: center;
    font-size: 23px;
    line-height: 1.3em;
    margin-top: 0px;
    color:#222;
}
.wrap-product article .article_detail span.product-toggle-hide{
    position: absolute;
    width: 55px;
    height: 55px;
    -moz-border-radius: 50px;
    border-radius: 50px;
    background-color: #ed5564;
    font-size: 36px;
    color: #FFFFFF;
    padding-top: 3px;
    left: 50%;
    margin-left: -27px;
    bottom: 0px;
    cursor:pointer;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    transition: all .3s ease;
}
.wrap-product article .article_detail span.product-toggle-hide:hover{
    background-color:#ff0838;
}

.wrap-product article .article_detail p{
    text-align: left;
    color: #808080;
    padding-left:15px;
    padding-bottom: 0px;
    margin-bottom: 0;
    font-size:18px;
}
.wrap-product article .article_detail p.tag-header{
    color: #606060;
    padding-left:0px;
}
.wrap-product article .article_detail span.tag-result{
    padding-left:5px;
}
.wrap-product article .article_detail span.tag-result.tag-success{
    color: #4e8737;
}
.wrap-product article .article_detail span.tag-result.tag-danger{
    color: #bb2e1d;
}
.wrap-product article .article_detail td{
    vertical-align: text-top;
    padding: 5px;
}
.wrap-product article .article_detail table tr:nth-child(even) {background-color: #f7f7f7}
.wrap-product .slick-dots li.slick-active button:before {
    color: #c80027;
}
.wrap-product  .slick-dots li button:before {
    font-size:10px;
    color: #c80027;
}

/******************* Promotion ****************/
.wrap-promotion{
    position:relative;
    width:100%;
}
.wrap-promotion .slide-item{
    width:100%;
    height:auto;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}
.wrap-promotion .slide-item img{
    width: 100%;
}


/***************** Garage **********************/
.wrap-garage{
    width:100%;
    height: 550px;
    background-image: url('../../images/web/background/Search_Garage.jpg');
    background-size:cover;
    background-position: center;
    padding: 15px 0px;
}
.wrap-garage .itemcar{
    position: absolute;
    width:650px;
    bottom: 15px;
    left: 100px;
    z-index: 1;
    -webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
    transition: all .5s ease;
}
.wrap-garage .itemcar img{
    width:100%;
}
.wrap-garage .garage-box{
    position:relative;
    width:600px;
    height:auto;
    margin: 0 auto;
    background-color:#FFFFFF;
    -moz-box-shadow: 0 2px 10px rgba(0,0,0,0.2);
    box-shadow: 0 2px 10px rgba(0,0,0,0.2);
    border-radius: 10px;
}
.wrap-garage .garage-box .nav-pills{
    position:relative;
    display: block;
}
.wrap-garage .garage-box .nav-pills li{
    border: 0px;
    margin: 0px;
    width:50%;
    text-align: center;
    background-color:#ccc;
    -webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
    transition: all .5s ease;
}
.wrap-garage .garage-box .nav-pills li a{
    color:#FFFFFF;
    -webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
    transition: all .5s ease;
    border-radius: 0px;
}
.wrap-garage .garage-box .nav-pills li a:hover{
    background-color:#9d9d9d;
    color:#FFFFFF;
}
.wrap-garage .garage-box .nav-pills li.active a{
    background-color:#FFFFFF;
    color:#3C3C3B;
}
.wrap-garage .tab-pane{
    padding: 40px 30px 20px 30px;
}

.wrap-garage .select2-container--bootstrap .select2-selection--single .select2-selection__rendered {
    padding-left: 0px;
    color:#3C3C3B;
}
.wrap-garage .select2-container--bootstrap .select2-selection--single {
    background-color: transparent;
    border: 1px solid #3C3C3B;
    border-radius: 4px !important;
}
.wrap-garage .select2-container--bootstrap .select2-selection--single .select2-selection__arrow {
    top: 1px;
    right: 1px;
}
.wrap-garage .form_garage .btn{
    margin-left: 0;
    width: 90px;
    height: 37px;
    font-size: 16px;
}
.wrap-garage .input-text{
    background-color: transparent;
    border: 1px solid #3C3C3B;
    font-size: 16px;
    padding: 5px 10px;
    height: 37px;
}
.wrap-garage #tab-name{
    padding-bottom: 30px;
}

.wrap-garage .result-box{
    position: absolute;
    display:none;
    z-index: 100;
    width: 100%;
    max-height: 200px;
    background-color: #FFFFFF;
    -webkit-box-shadow: 1px 2px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 1px 2px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 1px 2px 5px 0px rgba(0,0,0,0.75);
    overflow-y: auto;
    overflow-x: hidden;
    color:#3C3C3B;
}
.wrap-garage .result-box ul{
    list-style: none;
    padding:0;
    margin:0;
    
}
.wrap-garage .result-box ul li{
    cursor:pointer;
    padding: 10px 30px;
    border-bottom:1px solid rgb(235, 235, 235);
}
.wrap-garage .result-box ul li:hover{
    color:#FFFFFF;
    background-color: #C80027;
}
.wrap-garage .result-box h3{
    font-size:20px;
    margin:0;
}
.wrap-garage .result-box p{
    margin:0;
}
.wrap-garage .search-btn{
    width: 100%;
    font-size: 18px;
    padding:0px;
    height: 40px;
    margin-left: 0px;
}

/*********** Faq ***************/
.wrap-faq{
    padding:30px 0px;
    background-image: -webkit-linear-gradient(top, #F2F2F2 42%, #fff 68%);
    background-image: -moz-linear-gradient(top, #F2F2F2 42%, #fff 68%);
    background-image: linear-gradient(to bottom, #F2F2F2 42%, #fff 68%);
}
.wrap-faq .title{
    text-align: center;
    margin-bottom: 10px;
}
.wrap-faq .title > *{
    display: inline-block;
}
.wrap-faq .title h1{
    font-family: 'rsu_bold';
    font-size: 54px;
    line-height: 0.8em;
    padding-top: 20px;
    text-transform: uppercase;
    color: #3C3C3B;
}
.wrap-faq .title img{
    width:80px;
    margin-right: 30px;
    margin-top: -15px;
}
.wrap-faq .faq-box{
    max-width: 100%;
    margin: 0 auto;
}
.wrap-faq .faq-item{
    border-bottom: 2px dashed #3C3C3B;
    padding: 10px 0px;
    position: relative;
}
.wrap-faq .faq-item:last-child{
    border-bottom: 0px;
}
.wrap-faq .faq-item .faq-header{
    cursor: pointer;
}
.wrap-faq .faq-item .faq-header > *{
    display: inline-block;
}
.wrap-faq .faq-item .faq-order{
    width: 40px;
    height: 40px;
    font-size: 18px;
    background-color: #FF4343;
    color: #FFF;
    text-align: center;
    -moz-border-radius: 50%;
    border-radius: 50%;
    position: relative;
    padding-top: 7px;
    margin-right: 15px;
    line-height: 1.5;
}
.wrap-faq .faq-item .faq-title{
    font-family: 'rsu_bold';
    margin: 10px 0 0 0;
    color: #FF4343;
    font-size: 22px;
}
.wrap-faq .faq-item .faq-btn{
    width: 40px;
    height: 40px;
    font-size: 36px;
    text-align: center;
    -moz-border-radius: 50%;
    border-radius: 50%;
    position: relative;
    float: right;
    border: 2px solid #FF4343;
    color: #FF4343;
    background-color: #FFF;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    transition: all 0.2s ease;
}
.wrap-faq .faq-item .faq-btn i:before{
    content: "\f107";
}
.wrap-faq .faq-item .faq-btn i{
    top: 0;
    margin-left: -11px;
    left: 50%;
    position: absolute;
}
.wrap-faq .faq-item .faq-body > *{
    font-family: rsu_bold !important; 
    font-size: 18px !important;
    padding: 10px 60px !important;
    color:#333 !important;
}
.wrap-faq .faq-item .faq-body span,.wrap-faq .faq-item .faq-body *{
    font-family: rsu_bold !important; 
    font-size: 18px !important;
    color:#333 !important;
}

.wrap-faq .faq-item .faq-header[aria-expanded="true"] .faq-btn{
    background-color: #FF4343 !important;
    color: #FFF !important;
}
.wrap-faq .faq-item .faq-header[aria-expanded="true"] .faq-btn i{
    top: -3px;
}
.wrap-faq .faq-item .faq-header[aria-expanded="true"] .faq-btn i:before{
    top: -3px;
    content: "\f106";
}

/********** Footer ************/
.wrap-footer{
    position:relative;
    background-color:#FFFFFF;
    padding-bottom: 30px;
}
.wrap-footer .container{
    border-top: 1px solid #dfdfdf;
    padding-top:20px;
}
.wrap-footer .title{
    display: block;
    font-size: 20px;
    color: #222;
}
.wrap-footer .secure-box{
    margin-bottom: 20px;
}
.wrap-footer .detail{
    margin-bottom: 20px;
    text-align: center;
}
.wrap-footer .detail > div{
    display: inline-block;
}
.wrap-footer .payment-box .detail img{
    width:100%;
}


@media (min-width: 991px){
    /* Banner */
    .wrap-banner .itembg_mobile {
        display: none;
    }
}

@media (min-width: 1600px){
    /* Banner */
    .wrap-banner .itembg {
        left: 170px;
        bottom: 45px;
    }
    .wrap-banner .line {
        width: 42%;
        left: 250px;
        bottom: 120px;
    }
}
@media (max-width:1200px){
    .wrap-product article .article_detail h2 {
        font-size: 20px;
    }
    .wrap-product article .article_detail p{
        font-size:16px;
    }
    .wrap-product article .article_detail td {
        padding: 3px;
    }
}
@media (max-width:991px){
    /* Global */
    .section-title{
        font-size: 34px;
    }

    /* Banner */
    .wrap-banner {
        height: auto;
        padding-bottom: 25px;
        background: url(../../images/web/background/BigBanner_M.jpg) no-repeat bottom center transparent;
        background-size: cover;
        -webkit-transition: all 1s ease;
        -moz-transition: all 1s ease;
        transition: all 1s ease;
    }
    .wrap-banner .form-step1{
        background: rgba(255,255,255,1);
        background: -moz-linear-gradient(-45deg, rgba(255,255,255,.8) 0%, rgba(246,246,246,.2) 47%, rgba(237,237,237,0) 100%);
        background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(255,255,255,.8)), color-stop(47%, rgba(246,246,246,.2)), color-stop(100%, rgba(237,237,237,0)));
        background: -webkit-linear-gradient(-45deg, rgba(255,255,255,.8) 0%, rgba(246,246,246,.2) 47%, rgba(237,237,237,0) 100%);
        background: -o-linear-gradient(-45deg, rgba(255,255,255,.8) 0%, rgba(246,246,246,.2) 47%, rgba(237,237,237,0) 100%);
        background: -ms-linear-gradient(-45deg, rgba(255,255,255,.8) 0%, rgba(246,246,246,.2) 47%, rgba(237,237,237,0) 100%);
        background: linear-gradient(135deg, rgba(255,255,255,.8) 0%, rgba(246,246,246,.2) 47%, rgba(237,237,237,0) 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ededed', GradientType=1 );
    }
    .wrap-banner .itembg{
        display:none;
    }
    .wrap-banner .line{
        display:none;
    }
    .wrap-banner .line:after{
        display:none;
    }

    .wrap-banner .itembg_mobile{
        position: absolute;
        width: 100%;
        bottom: 5%;
        text-align: center;
    }
    .wrap-banner .itembg_mobile img {
        width: 50%;
        margin: 0 auto;
    }
    .wrap-banner .container {
        margin-top: 75px;
    }

    /* Our Product */
    .wrap-product article .article_detail h2 {
        font-size: 16px;
    }
    .wrap-product article .article_detail p{
        font-size:12px;
    }
    .wrap-product article .article_detail td {
        padding: 2px;
    }
    .wrap-product article .article_detail span.product-toggle-hide {
        width: 25px;
        height: 25px;
        font-size: 17px;
        padding-top: 1px;
        bottom: -25px;
    }

    /* Faq */
    .wrap-faq .title h1 {
        font-size: 44px;
        padding-top: 0px;
        margin-top:0px;
    }

    /* Footer */
    .wrap-footer .detail{
        text-align: left;
    }

    .wrap-garage{
        background-image: url('../../images/web/background/Search_Garage_M.jpg');
        background-size:cover;
        background-position: bottom center;

    }

}
@media (max-width:768px){
    .col-submit{
        margin-top:5px;
        text-align: right;
    }
    /* Banner */
    .wrap-banner .col-input{
        padding:0px;
    }
    .wrap-banner .itembg_mobile img {
        width: 40%;
    }
    .wrap-banner .footer-row h3{
        padding-bottom:10px;
    }

    /* garage */
    .wrap-garage {
        height: 500px;
    }
    .wrap-garage .garage-box {
        width: 100%;
    }
    .wrap-garage .col-input{
        padding-left:20px;
    }
    .wrap-garage .itemcar {
        width: 300px;
        bottom: 15px;
        left: 50px;
        z-index: 1;
    }

    /* Our Product */
    .wrap-product article .article_detail h2 {
        font-size: 20px;
    }
    .wrap-product article .article_detail p{
        font-size:16px;
    }
    .wrap-product article .article_detail td {
        padding: 5px;
    }
    .wrap-product article .article_detail span.product-toggle-hide {
        width: 50px;
        height: 50px;
        font-size: 30px;
        padding-top: 4px;
        bottom: -30px;
    }

    /* Faq */
    .wrap-faq .faq-box {
        width:100%;
        max-width: 100%;
    }
    .wrap-faq .title img{
        display: none;
    }
    .wrap-faq .faq-item .faq-order{
        position: absolute;
        top:10px;
    }
    .wrap-faq .faq-title{
        width: 90%;
        padding-left: 50px;
    }
    .wrap-faq .faq-item .faq-btn {
        margin-top: 0px;
    }
    .wrap-faq .faq-item .faq-body p {
        padding: 10px 50px;
    }

    /* Footer */
    .wrap-footer .payment-box .detail img{
        width:auto;
    }
    .wrap-footer .secure-box,.wrap-footer .payment-box,.wrap-footer .detail > div {
       padding:0px;
    }
    
}
@media (max-width:550px){
    /* Banner */
    .wrap-banner .title h1{
        font-size:28px;
    }
    .wrap-banner .title .icon {
        font-size: 40px;
    }
    .wrap-banner .footer-row h3{
        padding-bottom:20px;
    }
    .wrap-banner .footer-btn-group{
        text-align: center;
    }
    .wrap-banner .footer-btn:last-child{
        margin-top: 20px;
    }
    .wrap-banner .form_calculate button.my-radio {
        margin: 0 15px;
    }

    /* Faq */
    .wrap-faq .title {
        margin-bottom: 0px;
    }
    .wrap-faq .faq-item .faq-title {
        font-size: 18px;
    }
    .wrap-faq .faq-item .faq-btn {
        margin-top: 0px;
        width: 30px;
        height: 30px;
    }
    .wrap-faq .faq-item .faq-btn i {
        margin-left: -8px;
        font-size: 25px;
    }
    .wrap-faq .faq-item .faq-order {
        width: 30px;
        height: 30px;
        top: 10px;
        padding-top: 2px;
    }

}
@media (max-width:441px){
    /* Banner */
    .wrap-banner .title h1{
        font-size:25px;
    }
    .wrap-banner .title .icon {
        font-size: 30px;
    }
    .wrap-banner .form_calculate button.my-radio {
        margin: 0 5px;
    }
    .wrap-banner .footer-btn:last-child {
        margin-top: 10px;
    }
    .wrap-banner .form_calculate button.my-radio {
        width: 119px;
    }

    /* Footer */
    .wrap-footer .payment-box .detail img{
        width:100%;
    }
}
@media (max-width:390px){
    /* Banner */
    .wrap-banner .title h1,.wrap-banner .footer-row h3{
        font-size:19px;
    }
    .wrap-banner .title .icon {
        font-size: 25px;
    }

    /* Faq */
    .wrap-faq .faq-title {
        width: 80%;
    }

    /* Footer */
    .wrap-footer .secure-box .detail img{
        width:100%;
    }
}
