#section-insurance{
    margin-top: 30px;
}
.wrap-summary{
    float:right;
}
.wrap-detail{
    float:left;
}

/************** Over Ride Select2 *********************/
.select2-container--bootstrap .select2-selection--single .select2-selection__rendered {
    font-family: 'rsu';
    font-size: 18px;
    line-height: 1.2em;
    font-weight: 400;
    color: #222;
    line-height: 2.5rem;
    padding: 0 15px;
}
.select2-container--bootstrap .select2-selection--single {
    background-color: #FFFFFF;
    border: 0px;
    height: 40px;
    padding: 8px 24px 6px 12px;
}
.select2-container--default .select2-selection--single .select2-selection__arrow b {
    border-width: 5px 4px 0 4px !important;
    border-color: transparent;
    position: relative;
    float: left;
    top: 14px;
    left: 12px;
    margin: 0;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
.select2-container--default .select2-selection--single .select2-selection__arrow b::after {
    color: #9d9d9d;
}
.select2-container--bootstrap .select2-selection--single .select2-selection__arrow {
    background: transparent;
    border-left: 2px solid transparent;
}
.select2-container--bootstrap .select2-selection--single .select2-selection__arrow b::after {
    color: #9d9d9d;
}
.select2-container--bootstrap.select2-container--focus .select2-selection, .select2-container--bootstrap.select2-container--open .select2-selection {
    -webkit-box-shadow: inset 0 1px 1px #f5f5f5, 0 0 8px transparent;
    box-shadow: inset 0 1px 1px #f5f5f5, 0 0 8px transparent;
    border-color: transparent;
}
.select2-container--bootstrap .select2-dropdown {
    border-color:transparent;
}
.select2-container--bootstrap .select2-dropdown {
    border-color: transparent;
}
.input-group-btn {
    vertical-align: top;
}
.row_focus_policy_channel .padLeft{
    padding-left: 50px;
}
.row-alert{
    margin-top: 20px;
    margin-bottom: 20px;
}

@keyframes border-pulsate {
    0%   { border-color: #FF4343 }
    50%  { border-color: rgba(0, 255, 255, 0); }
    100% { border-color: #FF4343}
}
@keyframes color-pulsate {
    0%   { color: #FF4343 }
    50%  { color: #f3f3f3 }
    100% { color: #FF4343}
}

.row_focus{
    border-bottom: 2px solid #FF4343;
    animation: border-pulsate 1s infinite;
    margin-bottom: 10px;
}

.color-pulsate{
    animation: color-pulsate 1s infinite;
}

/******** Global ********/
.row-form label {
    font-family: 'rsu';
    font-size: 20px;
    line-height: 1.1em;
    color: #606060;
    font-weight: 100;
}
.form-input{
    background-color: #FFFFFF;
    font-family: 'rsu';
    font-size: 18px;
    padding: 8px 15px;
    height: 40px;
    color: #222;
    border: 0px;
    box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    border-radius: 7px;
}
.form-input.input-gray{
    background-color: #f3f3f3;
}
.form-control:focus {
    border-color: transparent;
    box-shadow: none;
    border-bottom: 0px;
    box-shadow: 0 2px 0 0 #ed5564;
}
.text-header-form{
    font-family: 'rsu';
    color: #222;
    font-size: 30px;
    margin: 0;
    margin-bottom: 10px;
}
.text-sub-header-form{
    font-family: 'rsu';
    color: #222;
    font-size: 24px;
    margin: 0;
    font-weight: bold;
}
.image-header-form{
    position: absolute;
    right:15px;
    margin-top: -40px;
    max-width: 65px;
}
.form-group{
    margin-bottom: 20px;
}
.form-group.no-margin{
    margin-bottom: 0px;
}
.select-radio{
    font-family: rsu;
    width:100%;
    padding: 10px 0px;
    border: 1px solid #a1a1a1;
    background: #d7d7d7;
    border-radius: 7px;
    color:#FFFFFF !important;
    text-align: center;
    font-size: 18px;
    cursor:pointer;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
.select-radio:hover{
    background: #ff9eb1;
    border: 1px solid #c80027;
}
.select-radio.active{
    background-color: #FF4343;
    color: #FFFFFF;
}
.dtp > .dtp-content > .dtp-date-view > header.dtp-header {
    background-color:#FF4343;   
}
.dtp div.dtp-date, .dtp div.dtp-time {
    background-color: #FF4343;
}
.dtp-content{
    font-family: Arial, Helvetica, sans-serif;
}
.dtp-buttons button{
    background-color:transparent;
}
.dtp .p10 > a {
    color: #ffffff;
    text-decoration: none;
}
.dtp table.dtp-picker-days tr > td > a.selected {
    background: #ed5564;
    color: #fff;
}
.add-icon {
    position: absolute;
    z-index: 100;
    right: 30px;
    margin-top: -30px;
    color: #969696;
}
.form-select-gray .select2-container--bootstrap .select2-selection--single {
    background-color: #f3f3f3;
}
a.help-modal {
    color: #FF4343;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    transition: all 0.3s ease;
    margin: 0 5px 0;
    font-size: 18px;
}
p.sub-detail{
    padding-top: 5px;
}
p.sub-detail small{
    font-family: 'rsu';
    font-size: 20px;
    line-height: 1.1em;
    color: #9d9d9d;
}
.btn-choose{
    background-color: #FF4343;
    color: #FFFFFF;
    border: 0px;
    padding: 9px 34px;
    font-size: 18px;
    font-family: rsu;
    border-radius: 7px;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
.btn-choose:hover{
    background: #ff0838;
    color: #FFFFFF;
}
.checkbox label{
    padding-left: 0px;
    font-size:20px;
    line-height: 1.4;
}
.input-text-red{
    color:#ff0838;
    font-weight: bold;
}
label.error,label.my-error{
    color:#ff0838;
    font-weight: bold;
    font-size: 18px;
}
.input-readonly{
    background-color: #FFFFFF !important;
}
.warning-text{
    color: #FF4343 !important;
}


/******* Wrap Summary *********/
.wrap-summary .box-summary{
    position: absolute;
    border-radius:7px;
    padding-left: 20px;
    padding-right: 15px;
}
.wrap-summary .summary-header{
    background: #FF4343;
    text-align: center;
    color: white !important;
    padding: 12px;

    border-top-right-radius:7px;
    border-top-left-radius: 7px;
}
.wrap-summary .summary-header h1{
    font-family: 'rsu';
    font-size: 30px;
    margin: 0;
}
.wrap-summary .summary-body{
    background: #eaedee;
    padding: 0px 20px;
}
.wrap-summary .item-car{
    position: absolute;
    right: 15px;
    top: 15px;
}

.summary-form{
    padding-top:10px;
    padding-bottom: 10px;
    border-bottom: 1px solid #d3d3d3;
}
.summary-form:last-child{
    border-bottom: 0px;
}
.summary-form .form-title h1{
    margin: 10px 0;
    font-family: 'rsu_bold';
    font-size: 22px;
    font-weight: 400;
    color: #ed5564;
}
.summary-form .form-detail{
    padding-left: 25px;
    padding-right: 25px;
}
.summary-form .form-detail p{
    font-family: 'rsu';
    font-size: 20px;
    margin:0px;
    line-height: 1.2;
}
.summary-form.footer{
    padding: 15px 0px;
    color: #ed5564;
}
.summary-form.footer p{
    font-weight: 600;
}

.form-detail-table  td{
    padding-top: 5px;
}
.form-detail-table  td.br-bt{
    border-bottom: 1px solid #e0e0e0;
}
.form-detail-table  td.value{
    text-align: right;
}




/******* Wrap Detail ************/
.wrap-detail .row-form{
    margin-top:20px;   
    margin-bottom: 20px;
}



/***** wrap-driver *********/
.wrap-driver{
    background-color: #f3f3f3;
}
.wrap-driver-detail{
    margin-top: 20px;
}

/***** Wrap detail driver *****/
.wrap-driver-detail form{
    margin-top:20px;   
    margin-bottom: 20px;
}
.wrap-driver-detail .error-text{
    font-family: 'rsu_bold';
    color:#FF4343;
    font-size:18px;
    margin-top:5px;
}
.wrap-driver-detail .birth-alert{
    display: none;
}



/***** wrap-addtion *********/
.wrap-addition{
    background-color: #FFFFFF;
}
.wrap-addition-detail{
    margin-top: 20px;
}

/***** Wrap detail driver *****/
.wrap-addition-detail .row-form{
    margin-top:20px;   
    margin-bottom: 20px;
}
.wrap-addition .box-doc{
    display: inline-block;
    margin-bottom: 10px;
    margin-left: 10px;
}
.wrap-addition .box-doc a{
    text-decoration: none !important;
    color:#FF4343;
}



#btn-submit.loading{    
    content: "";
    background-color: #25242440;
    background-image: url(../../images/web/icon/home_loading.gif) !important;
    background-size: 45px !important;
    background-position: center !important;
    background-repeat: no-repeat !important;
    color:#FF4343 !important;
}


/** OTP Modal **/
#otp_modal input[type='number'] {
    -moz-appearance:textfield;
}

/* Webkit browsers like Safari and Chrome */
#otp_modal input[type=number]::-webkit-inner-spin-button,
#otp_modal input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
#otp_modal .modal-body{
    text-align: center;
    margin-bottom: 20px;
}
#otp_modal .modal-header {
    background-color: #FF4343 !important;
}
#otp_modal .modal-body h2{
    font-family: 'rsu_bold' !important;
    font-size: 21px;
    color: #333;
    letter-spacing: 0.5px;
}
#otp_modal .modal-body h3{
    font-family: 'rsu' !important;
    font-size: 18px;
    color: #666;
    margin-top: 5px;
}
#otp_modal .modal-body h2 b{
    color:#333;
}
#otp_modal .input_otp{
    display: inline-block;
    margin: 5px 5px;
    border: 0px;
    border-bottom: 2px solid #ccc;
    width: 8%;
    text-align: center;
    -webkit-transition: all .3s ease;
    transition: all .3s ease;
    font-size: 28px;
    color: #666;
}
#otp_modal .input_otp:focus{
    border-bottom: 2px solid #666;
}
#otp_modal .input_otp:disabled{
    background-color: #efefef;
}
#otp_modal .sent-box{
    display: none;
}
#otp_modal .sent-box.active{
    display: block;
}
#otp_modal .counting-box{
    display: none;
    font-family: 'rsu' !important;
    font-size: 18px;
    color: #666;
    margin-top: 5px;
}
#otp_modal .counting-box.active{
    display: block;
}
#otp_modal .counting-box span{
    color: #FF4343;
    font-weight: bold;
    padding: 0px 5px;
}
#otp_modal .input-box{
    margin-top:20px;
}
#otp_modal .input-box > div{
    margin-bottom: 5px;
}
#otp_modal .btn{
    font-family: 'rsu_bold' !important;
    background: #d7d7d7;
    color: #FFFFFF;
    font-size: 20px;
    padding: 8px 0px;
    width: 180px;
    -webkit-transition: all .3s ease;
    transition: all .3s ease;
}
#otp_modal .counter-resend a,#otp_modal .counter-submit a{
    color:#999;
    text-decoration: none;
}
#otp_modal .btn.active{
    font-family: 'rsu_bold' !important;
    background: #FF4343;
    color: #FFFFFF;
    font-size: 20px;
    padding: 8px 0px;
    width: 180px;
    -webkit-transition: all .3s ease;
    transition: all .3s ease;
    -webkit-box-shadow: inherit !important;
    box-shadow: inherit !important;
}
#otp_modal #btn-submit-otp.active{
    background: #33950F;
}
#otp_modal #btn-resend-otp.active{
    background: #ffefb4;
    color: #FF4343;
}
#otp_modal .btn.active:hover{
    background: #ff0838;
}
#otp_modal #btn-resend-otp.active:hover{
    background: #c80027;
    color: #FFFFFF;
}
#otp_modal .btn .counter-submit{
    display: none;
}
#otp_modal .btn.appendCounter .counter-submit{
    display: inline-block;
}
#otp_modal .btn.active .counter-resend{
    display: none;
}
#otp_modal .result-box{
    color: #ab1b1b;
    font-size: 22px;
    display: none;
}
#otp_modal .result-box.active{
    display: block;
}
#otp_modal .correct-box{
    display: none;
    margin-top: 30px;
}
#otp_modal .sending-box{
    display: none;
    font-family: 'rsu' !important;
    font-size: 18px;
    color: #FF4343;
    margin-top: 5px;
}
#otp_modal .sending-box.active{
    display: block;
}
#otp_modal .correct-box p{
    opacity: 0;
    font-size:24px;
    color:#208C0B;
    letter-spacing: 0.5px;
    margin-top: -20px;
    -webkit-transition: all .3s ease;
    transition: all .3s ease;
}
#otp_modal .correct-box p.active{
    opacity: 1;
}
#otp_modal .btn .fa{
    display: none;
    margin-left: 5px;
}
#otp_modal .btn .fa.active{
    display:inline-block;
}
#otp_modal .btn.disabled{
    background: #d7d7d7;
    color: #FFFFFF;
}
#otp_modal #btn-rebuild{
    display: none;
}
#otp_modal #btn-rebuild.active{
    display: inline-block;
}



.check_mark {
    width: 80px;
    height: 130px;
    margin: 0 auto;
}
  
.hide{
    display:none;
}
  
  .sa-icon {
    width: 80px;
    height: 80px;
    border: 4px solid gray;
    -webkit-border-radius: 40px;
    border-radius: 40px;
    border-radius: 50%;
    margin: 20px auto;
    padding: 0;
    position: relative;
    box-sizing: content-box;
  }
  
  .sa-icon.sa-success {
    border-color: #4CAF50;
  }
  
  .sa-icon.sa-success::before, .sa-icon.sa-success::after {
    content: '';
    -webkit-border-radius: 40px;
    border-radius: 40px;
    border-radius: 50%;
    position: absolute;
    width: 60px;
    height: 120px;
    background: white;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
  }
  
  .sa-icon.sa-success::before {
    -webkit-border-radius: 120px 0 0 120px;
    border-radius: 120px 0 0 120px;
    top: -7px;
    left: -33px;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    -webkit-transform-origin: 60px 60px;
    transform-origin: 60px 60px;
  }
  
  .sa-icon.sa-success::after {
    -webkit-border-radius: 0 120px 120px 0;
    border-radius: 0 120px 120px 0;
    top: -11px;
    left: 30px;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    -webkit-transform-origin: 0px 60px;
    transform-origin: 0px 60px;
  }
  
  .sa-icon.sa-success .sa-placeholder {
    width: 80px;
    height: 80px;
    border: 4px solid #4CAF50;
    -webkit-border-radius: 40px;
    border-radius: 40px;
    border-radius: 50%;
    box-sizing: content-box;
    position: absolute;
    left: -4px;
    top: -4px;
    z-index: 2;
  }
  
  .sa-icon.sa-success .sa-fix {
    width: 5px;
    height: 90px;
    background-color: white;
    position: absolute;
    left: 28px;
    top: 8px;
    z-index: 1;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
  }
  
  .sa-icon.sa-success.animate::after {
    -webkit-animation: rotatePlaceholder 4.25s ease-in;
    animation: rotatePlaceholder 4.25s ease-in;
  }
  
  .sa-icon.sa-success {
    border-color: transparent\9;
  }
  .sa-icon.sa-success .sa-line.sa-tip {
    -ms-transform: rotate(45deg) \9;
  }
  .sa-icon.sa-success .sa-line.sa-long {
    -ms-transform: rotate(-45deg) \9;
  }
  
  .animateSuccessTip {
    -webkit-animation: animateSuccessTip 0.75s;
    animation: animateSuccessTip 0.75s;
  }
  
  .animateSuccessLong {
    -webkit-animation: animateSuccessLong 0.75s;
    animation: animateSuccessLong 0.75s;
  }
  
  @-webkit-keyframes animateSuccessLong {
    0% {
      width: 0;
      right: 46px;
      top: 54px;
    }
    65% {
      width: 0;
      right: 46px;
      top: 54px;
    }
    84% {
      width: 55px;
      right: 0px;
      top: 35px;
    }
    100% {
      width: 47px;
      right: 8px;
      top: 38px;
    }
  }
  @-webkit-keyframes animateSuccessTip {
    0% {
      width: 0;
      left: 1px;
      top: 19px;
    }
    54% {
      width: 0;
      left: 1px;
      top: 19px;
    }
    70% {
      width: 50px;
      left: -8px;
      top: 37px;
    }
    84% {
      width: 17px;
      left: 21px;
      top: 48px;
    }
    100% {
      width: 25px;
      left: 14px;
      top: 45px;
    }
  }
  @keyframes animateSuccessTip {
    0% {
      width: 0;
      left: 1px;
      top: 19px;
    }
    54% {
      width: 0;
      left: 1px;
      top: 19px;
    }
    70% {
      width: 50px;
      left: -8px;
      top: 37px;
    }
    84% {
      width: 17px;
      left: 21px;
      top: 48px;
    }
    100% {
      width: 25px;
      left: 14px;
      top: 45px;
    }
  }
  
  @keyframes animateSuccessLong {
    0% {
      width: 0;
      right: 46px;
      top: 54px;
    }
    65% {
      width: 0;
      right: 46px;
      top: 54px;
    }
    84% {
      width: 55px;
      right: 0px;
      top: 35px;
    }
    100% {
      width: 47px;
      right: 8px;
      top: 38px;
    }
  }
  
  .sa-icon.sa-success .sa-line {
    height: 5px;
    background-color: #4CAF50;
    display: block;
    border-radius: 2px;
    position: absolute;
    z-index: 2;
  }
  
  .sa-icon.sa-success .sa-line.sa-tip {
    width: 25px;
    left: 14px;
    top: 46px;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
  }
  
  .sa-icon.sa-success .sa-line.sa-long {
    width: 47px;
    right: 8px;
    top: 38px;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
  }
  
  @-webkit-keyframes rotatePlaceholder {
    0% {
      transform: rotate(-45deg);
      -webkit-transform: rotate(-45deg);
    }
    5% {
      transform: rotate(-45deg);
      -webkit-transform: rotate(-45deg);
    }
    12% {
      transform: rotate(-405deg);
      -webkit-transform: rotate(-405deg);
    }
    100% {
      transform: rotate(-405deg);
      -webkit-transform: rotate(-405deg);
    }
  }
  @keyframes rotatePlaceholder {
    0% {
      transform: rotate(-45deg);
      -webkit-transform: rotate(-45deg);
    }
    5% {
      transform: rotate(-45deg);
      -webkit-transform: rotate(-45deg);
    }
    12% {
      transform: rotate(-405deg);
      -webkit-transform: rotate(-405deg);
    }
    100% {
      transform: rotate(-405deg);
      -webkit-transform: rotate(-405deg);
    }
  }
  

@media (max-width: 991px){
    .wrap-detail {
        width: 100%;
    }
    .wrap-summary{
        margin-bottom: 30px;
        float: none;
    }
    .wrap-summary .box-summary {
        padding-left: 0px;
        padding-right: 0px;
    }
    .wrap-summary .item-car {
        right: 0px;
        top: 15px;
    }
    .wrap-summary .box-summary{
        position: relative;
    }
}
@media (max-width: 768px){
    #section-insurance {
        margin-top: 0px;
    }
    #section-insurance .container-fluid{
        padding: 0px;
    }
    .wrap-summary,.wrap-detail {
        float: none;
    }
    .wrap-detail {
        width: 100%;
        margin-top: 30px;
    }
}
@media (max-width: 414px){
    .wrap-summary .summary-header h1 {
        font-size: 27px;
    }
    .wrap-summary .item-car {
        right: 0px;
        top: 40px;
    }
    .wrap-summary .item-car img{
        width: 80px;
    }
    .summary-form .form-detail p {
        font-size: 20px;
    }
    .summary-form .form-detail{
        padding-left: 10px;
        padding-right: 10px;
    }

    .text-sub-header-form {
        font-size: 21px;
    }
    .text-header-form {
        font-size: 27px;
    }
    .image-header-form {
        max-width: 40px;
        display: none;
    }
    form label {
        font-size: 20px;
    }
    .select-radio {
        font-size: 18px;
    }
    .checkbox label {
        font-size: 20px;
    }
}