.web-footer{
    margin-bottom: 80px;
}


/*************** Step Bar ***************/ 
#stepbar {
    margin-top: 116px;
    margin-bottom: 5px;
}
#stepbar .inside-step-bar{
    position: relative;
    height: 100px;
}
#stepbar ul{
    position: absolute;
    width: 100%;
    margin: 0px;
    padding: 0px;
    list-style: none;
    z-index: 100;
    text-align: center;
}
#stepbar ul li{
    display: inline-block;
    width: 19%;
}
#stepbar ul li a{
    text-decoration: none;
    color: #231F20;
}
#stepbar .stregth-bar{
    position: absolute;
    bottom: 70%;
    width: 100%;
    height: 10px;
    padding: 1px;
    background-color: #9d9d9d;
    border-radius: 10px;
    left: 50%;
    transform: translate(-50%,0%);
    z-index: 50;
}
#stepbar .step-circle{
    width: 50px;
    height: 50px;
    border-radius: 100%;
    background-color: #CCCCCC;
    margin-right: 20px;
    font-size: 35px;
    text-align: center;
    margin: 0 auto;
}
#stepbar li.pass .step-circle:hover{
    background-color: #c80027;
}
#stepbar li.pass .step-circle,#stepbar li.active .step-circle{
    background-color: #FF4343;
    color: #FFFFFF;
}
#stepbar .step-detail{
    padding-top: 5px;
    text-align: center;
    font-size: 20px;
    color: #231F20;
}
#stepbar .step-circle img{
    width: 30px;
}

/****** Calculate Bar ********/
#calulate_bar{
    font-family: 'rsu';
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 1000;
    background: #d7d7d7;
    padding: 15px 0px;
    border-top: 1px solid #a1a1a1;
    text-align: center;
}
#calulate_bar .container{
    padding-left:0px;
    padding-right:0px;
}
#calulate_bar ul{
    list-style: none;
    margin: auto;
    width: 100%;
    padding: 0px;
    text-align: left;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
}
#calulate_bar ul li{
    display: flex;
    flex-flow: row nowrap;
    vertical-align: top;
    padding: 0 15px;
    text-align: left;
    border-right: 1px solid #b3b5b5;
}
#calulate_bar ul li:last-child{
    border-right:0px;
}
#calulate_bar ul li.nextpage a.btn{
    -webkit-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}
#calulate_bar ul li.nextpage button[type='submit']{
    font-size: 18px;
    font-weight: 400;
    color: #fff;
    font-size: 18px;
    background: #b9b9b9;
    padding: 12px 15px;
    -moz-border-radius: 7px;
    border-radius: 7px;
    -webkit-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}
#calulate_bar ul li.nextpage button[type='submit'].active{
    background: #FF4343;
}
#calulate_bar ul li.nextpage button[type='submit']:hover,#calulate_bar ul li.nextpage a.btn:hover{
    -webkit-box-shadow: 1px 2px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 1px 2px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 1px 2px 5px 0px rgba(0,0,0,0.75);
}
#calulate_bar ul li.nextpage > *{
    display: inline-block;
}
#calulate_bar ul li.nextpage a.btn-gray {
    color: #FFFFFF;
    font-size: 18px;
    background: #9d9d9d;
    padding: 12px 15px;
    margin-right: 8px;
    border-radius: 7px;
}
#calulate_bar ul li.nextpage a.btn.active{
    background: #FF4343;
}
#calulate_bar ul li > div{
    float:left;
}
#calulate_bar ul li .detail{
    padding-left:15px;
    color: #222;
}
#calulate_bar ul li .detail .infouser{
    color: #ff0838;
    font-weight: bold;
    font-size: 22px;
    max-width: 200px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
#calulate_bar ul li .detail .infouser a{
    color: #ff0838;
    text-decoration: none;
}
#calulate_bar .show-detail,#calulate_bar .hidden-detail{
    position: absolute;
    left: 30px;
    top: 5px;
    font-size: 30px;
    font-weight: bold;
    color: #2222228a;
    cursor:pointer;
    display: none !important;
}



/* Alert Box */
.wrap-popup-alert{
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: #0000004b;
    display: none;
    top: 0px;
    left: 0px;
    z-index: 2000;
}
.wrap-popup-alert .box-popup-alert{
    position: relative;;
    width: 600px;
    margin: 130px auto;
    background-color: #FFFFFF;
    -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
}
.wrap-popup-alert .box-popup-alert .close-popup-alert{
    position: absolute;
    text-align: right;
    width: 100%;
    padding: 5px 10px;
    font-size: 22px;
}
.wrap-popup-alert .box-popup-alert .body-popup-alert{
    width: 100%;
    text-align: center;
    padding: 15px;
}
.wrap-popup-alert .box-popup-alert .body-popup-alert img{
    width: 100%;
    max-width: 150px;
}
.wrap-popup-alert .box-popup-alert .footer-popup-alert{
    width: 100%;
    padding: 15px;
    color: #FFFFFF;
    background-color: #FF4343;
    text-align: center;
    font-size: 20px;
}
.wrap-popup-alert div[data-detail]{
    margin-top: 15px;
    font-size: 20px;
}
.wrap-popup-alert .button-close-popup-alert{
    cursor: pointer;
    color: #000000;
}




@media (max-width: 1200px){
    /* Calculate Bar */
    #calulate_bar ul li > div.icon > img{
        height:35px;
    }
}
@media (max-width: 1024px){
    /* Calculate Bar */
    #calulate_bar ul li > div.icon{
        display:none;
    }
}
@media (max-width: 991px){
    /* Step Bar */
    #stepbar {
        margin-top: 82px;
        margin-bottom: 5px;
    }

    /* calulate bar */
    #calulate_bar{
        font-size:16px;
    }
    #calulate_bar ul li.nextpage a {
        font-size: 16px;
    }
    #calulate_bar ul li {
        padding: 0px 10px;;
    }
}
@media (max-width:768px){
    .web-footer{
        margin-bottom: 66px;
    }

    /* Step Bar */
    #section-insurance .container{
        padding-left:15px;
        padding-right:15px;
    }

    /* Calculate Bar */
    #calulate_bar{
        padding: 10px 0px;
    }
    #calulate_bar ul{
        text-align: right;
        justify-content: flex-end;
    }
    #calulate_bar ul li{
        display: none;
        border-right: 0px;
    }
    #calulate_bar ul li.fill-active{
        display: inline-block;
        margin-right: 15px;
        text-align: right;
    }
    #calulate_bar .show-detail{
        display: block !important;
    }
    #calulate_bar .show-detail.hidden{
        display:none !important;
    }
    #calulate_bar .show-detail.show{
        display:block !important;
    }
    #calulate_bar .hidden-detail.hidden{
        display:none !important;
    }
    #calulate_bar .hidden-detail.show{
        display:block !important;
    }

    #calulate_bar.collapsed{
        font-size:18px;
    }
    #calulate_bar.collapsed ul{
        flex-flow: column nowrap;
        
    }
    #calulate_bar.collapsed ul li {
        display: block;
        margin-top: 15px;
        text-align: left;
    }
    #calulate_bar.collapsed ul li:first-child{
        margin-top: 60px;
    }
    #calulate_bar.collapsed ul li.btnrow{
        margin-top: 0;
        margin-right: 15px;
        text-align: right;
    }
    #calulate_bar ul li.nextpage button[type='submit']{
        font-size: 16px;
        padding: 10px 15px;
    }
    #calulate_bar ul li.nextpage a.btn-gray{
        font-size: 18px;
        padding: 8px 15px;
        margin-right: 5px;
    }

    #stepbar .inside-step-bar {
        height: 75px;
    }
    #stepbar .step-circle{
        width: 40px;
        height: 40px;
        font-size: 25px;
        padding: 2px;
    }
    #stepbar .step-circle img {
        width: 20px;
    }
    #stepbar .stregth-bar {
        bottom: 66%;
    }
    #stepbar .step-detail {
        font-size: 16px;
    }

    .wrap-popup-alert .box-popup-alert{
        width: 80%;
    }
    .wrap-popup-alert .box-popup-alert .body-popup-alert img {
        width: 100%;
        max-width: 100px;
    }

}


@media (max-width: 991px){
    /* Step Bar */
    #stepbar {
        margin-top: 82px;
        margin-bottom: 5px;
    }
}

@media (max-width:768px){
    .web-footer{
        margin-bottom: 66px;
    }

    /* Step Bar */
    #section-insurance .container{
        padding-left:15px;
        padding-right:15px;
    }
        
}

@media screen and (max-width:560px){
    #stepbar ul li{
        vertical-align: text-top;
    }
}

@media screen and (max-width:440px){
    #stepbar ul li{
        width: 18%;
    }
    #stepbar .step-circle {
        width: 30px;
        height: 30px;
        font-size: 20px;
        padding: 2px;
    }
    #stepbar .step-circle img {
        width: 16px;
    }
    #stepbar .stregth-bar{
        bottom: 75%;
        height: 6px;
    }
    #stepbar .step-detail {
        font-size: 14px;
    }
}