
/* Global */
#section-insurance{
    margin-top: 116px;
    margin-bottom: 50px;
}
.col-title{
    background-color: #FF4343;
    padding: 50px;
}
.sec-title{
    font-family: 'rsu';    
    font-size: 26px;
    color: #FFFFFF;
    margin: 5px;
}
.sec-sub-title{
    font-family: 'rsu_bold';  
    font-size: 36px;
    color: #FFFFFF;
    margin: 5px;
    letter-spacing: 1px;
}
.txt-detail{
    font-family: 'th_saraban_new';
    font-size: 24px;
    color: #222;
}
.txt-detail-light{
    font-family: 'th_saraban_new';
    font-size: 24px;
    color: #9d9d9d;
}
.text-color-red-light{
    color:#ff0838;
}
.text-color-red-dark{
    color: #c80027 !important;
}
.txt-visible{
    visibility: hidden;
}
/* wrap-insurance-header */

.wrap-insurance-header{
    background-color: #f3f3f3;
}
.wrap-insurance-header .item-main{
    width:100%;
}
.block-insurance-header .row-box{
    padding-left:8%;
    margin-top: 20px;
    margin-bottom: 30px;
}
.block-insurance-header .box{
    float: left;
}
.block-insurance-header .box p{
    margin-bottom: 0px;
    line-height: 1.3;
}
.block-insurance-header .detail-box{
    padding-left: 10px;
    max-width: 300px;
}

/* Wrap detail */
.item-title{
    margin-top: 30px;
}
.wrap-detail{
    text-align: center;
    margin-bottom: 15px;
    font-family: 'rsu';
    font-size: 26px;
    color: #222;
    margin-top:30px;
}
.wrap-detail p{
    line-height: 1;
}
.wrap-detail-footer{
    text-align: center;
    margin-bottom: 15px;
    font-family: 'rsu';
    font-size: 24px;
    
    color: #222;
    margin-top:30px;
}
.wrap-detail-footer p{
    line-height: 1;
}
.wrap-sub-footer{
    font-family: 'th_saraban_new';
    font-size:24px;
    font-style: italic;
    margin-top: 20px;
}
.wrap-sub-footer b{
    color: #c80027;
}
.wrap-sub-footer p{
    line-height: 1;
}


/* Wrap-summary */
.wrap-summary{
    margin-top: 30px;
}
.wrap-summary h1.title{ 
    text-align: left;
    margin: 0px;
    font-family: 'rsu';
    font-size: 26px;
    line-height: 1.2em;
    color: #222;
}
.wrap-summary .block-summary{
    -moz-border-radius: 20px;
    border-radius: 20px;
    background: #ec9f9c;
    padding: 20px 30px;
}
.wrap-summary .block-summary ul{
    padding-left:0px;
    list-style: none;
    width: 80%;
}
.wrap-summary .block-summary ul li > .txt-box{
    display: inline-block;    
}
.wrap-summary .block-summary ul li{
    border-bottom: 1px solid #FFFFFF;
    padding-top: 10px;
}
.wrap-summary .block-summary ul li:last-child{
    border-bottom: 0px;
}
.wrap-summary .txt-box-left{
    width:60%;
}
.wrap-summary .txt-box-right{
    width: 39%;
    text-align: right;
}
.wrap-summary .txt-box p{
    font-family: 'rsu';
    font-size: 18px;
    line-height: 1.2em;
    font-weight: 400;
    color: #fff;
}
.wrap-summary .txt-box p.txt-detail{
    color: #222;
    font-weight: bold;
}
.wrap-summary .txt-box p.txt-price{
    font-size: 30px;
}

.web-footer{
    margin-bottom: 0px !important;
}


@media (max-width: 991px){
    .block-insurance-header .item-main{
        display: none;
    }
    .block-insurance-header .row-box {
        padding-left:0px;
        margin-top: 20px;
        margin-bottom: 30px;
    }

    .block-summary img{
        width:100%;
    }
    .wrap-summary .block-summary ul {
        width: 100%;
    }
    
}
@media (max-width: 768px){
    #section-insurance .container-fluid{
        padding: 0px;
    }
    .block-insurance-header .col-box{
        text-align: center;
    }
    .block-insurance-header .box {
        width: 100%;
        margin-bottom: 10px;
    }

    .wrap-summary {
        padding-left: 15px;
        padding-right: 15px;
    }
    .block-summary img{
        display: none;
    }
    .wrap-summary .txt-box-left {
        width: 40%;
    }
    .wrap-summary .txt-box-right {
        width: 58%;
    }
}
@media (max-width: 550px){
    .block-insurance-header .col-box {
        text-align: left;
        width: 100%;
        margin-bottom: 15px;
    }
    .block-insurance-header .icon-box {
        width: 15%;
    }
    .block-insurance-header .icon-box img{
        width: 100%;
    }
    .block-insurance-header .detail-box {
        width: 85%;
        padding-left:20px;
    }
    .block-insurance-header .row-box {
        margin-bottom: 0px;
        margin-top: 0px;
    }
    

    .wrap-summary .txt-box p.txt-price {
        font-size: 24px;
    }
    .wrap-summary .txt-box-left {
        width: 100%;
    }
    .wrap-summary .txt-box-right {
        width: 100%;
    }
}
@media (max-width: 480px){
    .item-title{
        margin-top: 30px;
    }
    .item-title img{
        width:100%;
    }
    .wrap-detail{
        font-size: 22px;
    }
    .wrap-detail-footer{
        font-size: 20px;
    }
    .wrap-detail-footer p{
        line-height: 1;
    }
    .wrap-sub-footer{
        font-size:22px;
    }
    
}