/****** Section Insurance ********/
#section-insurance{
    padding-bottom: 200px;
    background:url("../../images/web/background/bg_on_step.png"),linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(215,244,233,1) 100%),rgb(255,255,255);
    background-repeat: no-repeat;
    background-position: bottom center;
    background-size: contain;
    overflow: hidden;
}
.row-title-header{
    margin-bottom: 50px;
}
.row-title-header-danger{
    margin-bottom: 50px;
} 
.row-title-header-danger .row-title{
    font-family: 'rsu_bold';
    font-size: 30px;
    line-height: 1.2em;
    width: 100%;
    margin-bottom: 15px;
    color: #ed5564;
    text-align: center;
}
.row-title{
    font-family: 'rsu';
    font-size: 26px;
    line-height: 1.2em;
    width: 100%;
    margin-bottom: 15px;
    color: #222;
    text-align: center;
}
.box-center{
    margin: 0 auto;
    float: none !important;
}
.box-plan{
    position:relative;
    background-color: #FFFFFF;
    width:100%;
    height:auto;
    text-align: center;
    border-radius:7px;
    padding-top:20px;
    color: #222;
    -webkit-box-shadow: 0px 0px 0px 1px #a1a1a1;
    -moz-box-shadow: 0px 0px 0px 1px #a1a1a1;
    box-shadow: 0px 0px 0px 1px #a1a1a1;
    cursor:pointer;
    margin-bottom:10px;
}
.box-plan a{
    text-decoration: none;
    color:#222;
}
.box-plan .title{
    font-family: 'ArialBold';
    text-align: center;
    font-size: 30px;
    line-height: 1.3em;
    margin-top:0px;
}
.box-plan .title b{
    padding-left:10px;
    color: #9d9d9d;
}
.box-plan .sub-title{
    font-size: 16px;
    line-height: 1.2em;
    font-weight: 400;
    padding-top:5px;
}
.box-plan .price{
    background-color: #eaeaea;
    padding:15px 0px;
    border-bottom-left-radius: 7px;
    border-bottom-right-radius: 7px;
    color:#222;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    transition: all 0.2s ease;
}
/* .box-plan a[data-id='2'] .price{
    background-color: #D9D9D9;
}
.box-plan a[data-id='3'] .price{
    background-color: #FFEFB4;
} */

.box-plan .price h1{
    font-size: 30px;
    margin-top: 0px;
    margin-bottom: 0;
}
.box-plan .price h1 span{
    font-size: 16px;
    padding:0 5px;
}
.box-plan.active,.box-plan:hover{
    -webkit-box-shadow: 0px 0px 0px 2px #ed5564;
    -moz-box-shadow: 0px 0px 0px 2px #ed5564;
    box-shadow: 0px 0px 0px 2px #ed5564;
}
.box-plan.active .price,.box-plan:hover .price{
    background-color: #ed5564;
    color:#FFFFFF;
}
.box-plan.active .title b,.box-plan:hover .title b{
    color:#ed5564;
}
.box-plan.recommend:before {
    content: "";
    display: block !important;
    width: 111px;
    height: 62px;
    background: url('../../images/web/icon/recommend.png') no-repeat;
    position: absolute;
    bottom: 70px;
    left: -12px;
}

.plan-row{
    position: relative;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
}
.detail-row{
    position: relative;
    display: flex;
    justify-content: center;
    margin-top: 45px;
    margin-bottom: 15px;
}
.item-car{
    position: absolute;
    top: 0;
    margin-top: -50px;
    left: 0;
    z-index: 500;
    cursor:pointer;
    -webkit-transition: all .8s ease-out;
    -moz-transition: all .8s ease-out;
    transition: all .8s ease-out;
}
.item-car > img{
    width: 120px;
}
.item-car > *{
    float:left;
}
.item-car p{
    font-family: 'rsu';
    font-size: 18px;
    line-height: 1.2em;
    font-weight: 400;
    color: #ed5564;
    float: left;
    margin-top: 15px;
    margin-left: 15px;
}
.box-detail{
    position:relative;
    background-color: #FFFFFF;
    width:100%;
    height:auto;
    text-align: center;
    border-radius:7px;
    color: #222;
    cursor:pointer;
    margin-bottom:10px;
    padding:20px;
    -webkit-box-shadow: 0px 0px 0px 1px #a1a1a1;
    -moz-box-shadow: 0px 0px 0px 1px #a1a1a1;
    box-shadow: 0px 0px 0px 1px #a1a1a1;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    transition: all 0.2s ease;
}
.wrap-detail-desktop{
    display: block;
}
.box-detail-tablet{
    padding: 20px;
    position: absolute;
    visibility: hidden;
    overflow: hidden;
    opacity: 0;
    -webkit-transition: transform .3s ease,opacity .3s ease;
    -moz-transition: transform .3s ease,opacity .3s ease;
    transition: transform .3s ease,opacity .3s ease;
    transform: translate(0%,-5%);
}
.box-detail-tablet.render{
    position: relative;
    visibility: visible;
    opacity: 1;
    -webkit-transform: translate(0%,0%);
    -moz-transform: translate(0%,0%);
    -ms-transform: translate(0%,0%);
    transform: translate(0%,0%);
    display: none;
}
@media screen and (max-width: 991px){
    .wrap-detail-desktop{
        display: none;
    }
    .box-detail-tablet.render{
        display: block;
    }
    .item-car{
        display: none;
    }
    .row-title-header{
        margin-bottom: 20px;
    }
    .plan-row{
        position: relative;
        flex-flow: column;
    }
    .plan-topic-item{
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%;
    }
    .plan-topic-item-0{
        order: 3;
    }
    .plan-topic-item-1{
        order: 2;
    }
    .plan-topic-item-2{
        order: 1;
    }
}
.box-detail.active{
    -webkit-box-shadow: 0px 0px 0px 3px #ed5564;
    -moz-box-shadow: 0px 0px 0px 3px #ed5564;
    box-shadow: 0px 0px 0px 3px #ed5564;
}
.box-detail .title{
    font-family: 'ArialBold';
    text-align: center;
    font-size: 30px;
    line-height: 1.3em;
    margin-top: 10px;
    padding-left: 15%;
}
.box-detail .title b{
    padding-left:10px;
    color: #9d9d9d;
}
.box-detail.active .title b {
    padding-left: 10px;
    color: #ed5564;
}
.box-detail .box-detail-header{
    text-align: left;
    margin-bottom: 0px;
}
.box-detail .box-detail-header .svg{
    width: 55px;
}
.box-detail .box-detail-header svg .st0 {
    fill: #9d9d9d;
}
.box-detail.active .box-detail-header svg .st0 {
    fill: #ed5564;
}
.box-detail .box-detail-header > span{
    float: left;
}
.box-detail-box{
    border-bottom: 2px solid #e6e6e6;
    text-align: left;
    padding-bottom: 15px;
    padding-top:15px;
}
.box-detail-box:last-child{
    border-bottom: 0px;
}
.box-detail-box .detail-row{
    display: block;
    margin-top: 15px;
    margin-bottom: 10px;
}
.box-detail-box .detail-row:last-child{
    margin-bottom:5px;
}
.box-detail-box .text-detail{
    font-family: 'rsu';
    font-size: 20px;
    color: #808080;
    margin: 0;
    line-height: 1.3;
}
.box-detail-box .text-price{
    font-family: 'rsu';
    color: #bababa;
    font-size: 20px;
    padding: 0;
    margin: 0;
}
.box-detail.active .box-detail-box .text-price{
    color:#ed5564;
}
.box-detail-box .text-italic{
    font-style: italic;
    color: #aeaeae;
}
.box-detail-box .text-tag{
    font-family: 'rsu_bold';
    font-size: 20px;
    line-height: 1.2em;
    font-weight: bold;
    color: #606060;
}
.wrap-condition{
    margin-top: 20px;
}
.wrap-condition .text-condition{
    color: #ed5564;
    font-family: 'rsu';
    font-size: 20px;
    line-height: 1.2em;
}
.wrap-condition .text-condition-header{
    color: #ed5564;
    font-family: 'rsu';
    font-size: 20px;
    line-height: 1.2em;
    font-weight: bold;
}

@media screen and (max-width: 768px){
    #section-insurance{
        padding-bottom: 100px;
        background:url("../../images/web/background/bg_on_step_m.png"),linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(215,244,233,1) 100%),rgb(255,255,255);
        background-repeat: no-repeat;
        background-position: bottom center;
        background-size: contain;
    }
}