
/* Global */
#section-insurance{
    margin-bottom: 50px;
}
.sec-title{
    font-family: 'rsu';    
    font-size: 26px;
    color: #222;
}
.txt-detail{
    font-family: 'rsu';
    font-size: 18px;
    color: #222;
}
.txt-detail-light{
    font-family: 'rsu';
    font-size: 18px;
    color: #9d9d9d;
}
.text-color-red-light{
    color:#ff0838;
}
.text-color-red-dark{
    color: #c80027 !important;
}
.txt-visible{
    visibility: hidden;
}
/* wrap-insurance-header */

.wrap-insurance-header{
    background-color: #f3f3f3;
}
.wrap-insurance-header .item-main{
    width:100%;
}
.block-insurance-header .row-box{
    padding-left:8%;
    margin-top: 20px;
    margin-bottom: 30px;
}
.block-insurance-header .box{
    float: left;
}
.block-insurance-header .box p{
    font-size: 20px;
    margin-bottom: 0px;
    line-height: 1.3;
}
.block-insurance-header .detail-box{
    padding-left: 10px;
    max-width: 300px;
}


/* wrap-insurance-detail */
.wrap-insurance-detail{
    background-color: #FFFFFF;
}
.block-insurance-detail{
    margin-top:20px;
}
.block-insurance-detail p{
    margin-bottom: 0px;
    line-height: 1.3;
}
.block-insurance-detail .cut-line{
    padding:10px 0px
}
.block-insurance-detail .col-box{
    margin-top: 5px;
}
.block-insurance-detail .col-box .box-text{
    padding-left:0px;
    padding-right: 0px;
    display: inline-block;
}
.block-insurance-detail .box-text-left{
    width: 65.66666667%;
}
.block-insurance-detail .box-text-right{
    width: 33.33333333%;
}
.block-insurance-detail img.img-preview{
    width:28px;
    cursor:pointer;
}


/* .wrap-insurance-table */
.block-insurance-table{
    margin-top: 10px;
}
.block-insurance-table .row-box{
    background: #f3f3f3;
    padding:10px 0px;
}
.block-insurance-table .row-box:nth-child(even){
    background: #FFFFFF;
}
.block-insurance-table .row-gray{
    background: #f3f3f3 !important;
}
.block-insurance-table p {
    margin-bottom: 0px;
    line-height: 1.3;
}
.block-insurance-table .col-box{
    margin-top: 5px;
}
.block-insurance-table .box-text{
    padding-left:0px;
    padding-right: 0px;
    float: left;
}
.block-insurance-table .box-text-left{
    width: 46%;
}
.block-insurance-table .box-text-right{
    width:54%;
}
.block-insurance-table img.img-preview{
    width:28px;
    cursor:pointer;
}

/* Wrap-summary */
.wrap-summary{
    margin-top: 30px;
}
.wrap-summary h1.title{ 
    text-align: left;
    margin: 0px;
    font-family: 'rsu';
    font-size: 26px;
    line-height: 1.2em;
    color: #222;
}
.wrap-summary .block-summary{
    -moz-border-radius: 20px;
    border-radius: 20px;
    background: #ec9f9c;
    padding: 20px 30px;
}
.wrap-summary .block-summary ul{
    padding-left:0px;
    list-style: none;
    width: 80%;
}
.wrap-summary .block-summary ul li > .txt-box{
    display: inline-block;    
}
.wrap-summary .block-summary ul li{
    border-bottom: 1px solid #FFFFFF;
    padding-top: 10px;
}
.wrap-summary .block-summary ul li:last-child{
    border-bottom: 0px;
}
.wrap-summary .txt-box-left{
    width:60%;
}
.wrap-summary .txt-box-right{
    width: 39%;
    text-align: right;
}
.wrap-summary .txt-box p{
    font-family: 'rsu';
    font-size: 18px;
    line-height: 1.2em;
    font-weight: 400;
    color: #fff;
}
.wrap-summary .txt-box p.txt-detail{
    color: #222;
    font-weight: bold;
}
.wrap-summary .txt-box p.txt-price{
    font-size: 30px;
}

#btn-submit.loading {
    content: "";
    background-color: #25242440;
    background-image: url("../../images/web/icon/home_loading.gif") !important;
    background-size: 45px !important;
    background-position: center !important;
    background-repeat: no-repeat !important;
    color: #FF4343 !important;
}

.note-text{
    font-family: 'rsu';
    color: #9d9d9d;
}
.note-text b{
    color: #222;
}
.row-accept label{
    padding-left: 0px;
}
label.error,label.my-error{
    color:#ff0838;
    font-weight: bold;
    font-size: 18px;
}

@media (max-width: 991px){
    .block-insurance-header .item-main{
        display: none;
    }
    .block-insurance-header .row-box {
        padding-left:0px;
        margin-top: 20px;
        margin-bottom: 30px;
    }

    .wrap-insurance-detail .row-header-title{
        margin-bottom: 10px;
    }
    .block-insurance-detail .col-box .box-text {
        vertical-align: text-top;
    }
    .block-insurance-detail .col-box{
        border-bottom: 1px solid #d7d7d7;
        padding-bottom: 5px;
        padding-top: 5px;
    }

    .block-summary img{
        width:100%;
    }
    .wrap-summary .block-summary ul {
        width: 100%;
    }
    
}
@media (max-width: 768px){
    #section-insurance .container-fluid{
        padding: 0px;
    }
    .block-insurance-header .col-box{
        text-align: center;
    }
    .block-insurance-header .box {
        width: 100%;
        margin-bottom: 10px;
    }

    .block-insurance-detail .box-text-right{
        text-align: right;
    }
    .block-insurance-detail .col-box{
        border-bottom: 1px solid #d7d7d7;
        padding-bottom: 5px;
        padding-top: 5px;
    }

    .block-insurance-table .txt-rs{
        margin-bottom: 5px;
    }
    .block-insurance-table .txt-rs-light{
        color:#9d9d9d;
    }
    .block-insurance-table .box-text-left{
        width: 60%;
    }
    .block-insurance-table .box-text-right{
        width:40%;
    }
    .block-insurance-table .box-text-left{
        border-bottom:1px solid #d7d7d7;
    }
    .block-insurance-table .box-text-right{
        text-align: right;
        border-bottom:1px solid #d7d7d7;
    }
    .block-insurance-table .box-img{
        padding-bottom: 5px;
    }

    .wrap-summary {
        padding-left: 15px;
        padding-right: 15px;
    }
    .block-summary img{
        display: none;
    }
    .wrap-summary .txt-box-left {
        width: 40%;
    }
    .wrap-summary .txt-box-right {
        width: 58%;
    }
}
@media (max-width: 550px){
    .block-insurance-detail .box-text-left {
        width: 64.666667%;
    }
    .block-insurance-header .col-box {
        text-align: left;
        width: 100%;
        margin-bottom: 15px;
    }
    .block-insurance-header .icon-box {
        width: 15%;
    }
    .block-insurance-header .icon-box img{
        width: 100%;
    }
    .block-insurance-header .detail-box {
        width: 85%;
        padding-left:20px;
    }
    .block-insurance-header .row-box {
        margin-bottom: 0px;
        margin-top: 0px;
    }
    

    .block-insurance-detail .box-text{
        width:100%;
    }
    .block-insurance-detail .box-text-left{
        border-bottom:0px
    }
    .block-insurance-table .box-text{
        width:100%;
    }
    .block-insurance-table .box-text-left{
        border-bottom:0px
    }

    .wrap-summary .txt-box p.txt-price {
        font-size: 24px;
    }
    .wrap-summary .txt-box-left {
        width: 100%;
    }
    .wrap-summary .txt-box-right {
        width: 100%;
    }
}
@media (max-width: 480px){
    
}