
#section-insurance{
    background: #f3f3f3;
}
.page-title h1{
    font-family: 'rsu';
    font-size: 26px;
    width: 100%;
    color: #222;
    text-align: center;
}
.specify-row{
    display: none;
}
.error-text{
    display: none;
    margin-top:15px;
    color: #FF4343;
    font-size: 18px;
    font-family: rsu_bold;
}
.error-text.text-white{
    color:#FFFFFF;
}
.warning-text{
    color: #FF4343 !important;
}
.input-readonly{
    background-color: #FFFFFF !important;
    font-weight: bold;
}
.promotion-alert{
    margin-top: 15px;
}
.promotion-icon{
    cursor: pointer;
}

@keyframes border-pulsate {
    0%   { border-color: #FF4343 }
    50%  { border-color: rgba(0, 255, 255, 0); }
    100% { border-color: #FF4343}
}

.row_focus{
    border-bottom: 2px solid #FF4343;
    animation: border-pulsate 1s infinite;
    margin-bottom: 10px;
}
/************** Wrap Insurance Detail ***************/
.wrap-insurance-detail .col-icon{
    text-align: center;
}
.wrap-insurance-detail img{
    width:100%;
    max-width: 230px;
}
.dash-after::after{
    content: '-';
    position: absolute;
    font-size: 4rem;
    right: -6px;
    top: 25px;
    color: #757373;
    font-weight: bold;
}
.form-title{
    font-family: 'rsu';
    width: 100%;
    margin-bottom: 15px;
    text-align: left;
}
.form-title h1{
    line-height: 1.2em;
    font-weight: 400;
    color: #222;
    font-size: 30px;
    margin-top: 10px;
}
.form-group{
    margin-bottom: 20px;
}
form{
    text-align: left;
}

form label{
    font-family: 'rsu';
    font-size: 20px;
    line-height: 1.5em;
    color: #606060;
    font-weight: 100;
}
.form-input{
    background-color: #FFFFFF;
    font-family: 'rsu';
    font-size: 18px;
    padding: 8px 15px;
    height: 40px;
    color: #222;
    border: 0px;
    box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    border-radius:7px;
}
.form-input[disabled]{
    background-color:#f3f3f3;
    border: 1px solid #d8d8d8;
}
.form-input-gray{
    background: #f3f3f3;
}
.form-control:focus {
    border-color: transparent;
    box-shadow: none;
}


.add-icon{
    position: absolute;
    z-index: 100;
    right: 30px;
    margin-top: -30px;
    color: #969696;
}
a.help-modal{
    color: #FF4343;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    transition: all 0.3s ease;
    margin: 0 5px 0;
    font-size: 18px;
}
a.help-modal:hover {
    color: #ed5564;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
.select-radio{
    font-family: rsu;
    width:100%;
    padding: 10px 0px;
    border: 1px solid #929497;
    background: #A6A8AB;
    border-radius: 7px;
    color:#FFFFFF;
    text-align: center;
    font-size: 20px;
    cursor:pointer;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
.select-radio-second{
    border: 1px solid #929497;
    background: #D7D7D7;
}
.select-radio:hover{
    background: #ff9eb1;
    border: 1px solid #FF4343;
}
.select-radio.active{
    background-color: #FF4343;
}
p.sub-detail{
    padding-top: 5px;
}
p.sub-detail small{
    font-family: 'rsu';
    font-size: 18px;
    line-height: 1.1em;
    color: #9d9d9d;
}
.dtp > .dtp-content > .dtp-date-view > header.dtp-header {
    background-color:#FF4343;   
}
.dtp div.dtp-date, .dtp div.dtp-time {
    background-color: #FF4343;
}
.dtp-content{
    font-family: Arial, Helvetica, sans-serif;
}
.dtp-buttons button{
    background-color:transparent;
}
.dtp .p10 > a {
    color: #ffffff;
    text-decoration: none;
}
.dtp table.dtp-picker-days tr > td > a.selected {
    background: #ed5564;
    color: #fff;
}

.wrap-section:nth-child(even){
    background-color: #FFFFFF;
}

/************** Wrap Insurance Addition ***************/
.wrap-insurance-addition{
    margin-top: 20px;
    margin-bottom: 20px;
}
.wrap-insurance-addition .col-icon{
    text-align: center;
}
.wrap-insurance-addition img {
    width: 100%;
    max-width: 180px;
}
.wrap-insurance-addition .form-title{
    cursor: pointer;
}
.wrap-insurance-addition .icon-addon{
    position: absolute;
    transform: translate(-140%,0);
}

/************ Wrap Prb *******************/
.wrap-prb{
    margin-top: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    /*background-color: #f3f3f3;*/
    background-color: #ffffff;
}
.wrap-prb .col-icon{
    text-align: center;
}
.wrap-prb img {
    width: 100%;
    max-width: 150px;
}

/************ Wrap Promotion *******************/
.wrap-promotion{
    position: relative;
    padding-top: 50px;
    padding-bottom: 50px;
    height: 400px;
    background:url("../../images/web/background/bg_motor_step3.jpg"),linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(215,244,233,1) 100%),rgb(255,255,255);
    background-repeat: no-repeat;
    background-position: bottom center;
    background-size: cover;
}
.wrap-promotion .box-promotion{
    position: relative;
    width: 85%;
    background-color: #4b4f51;
    border-radius: 15px;
    padding: 25px 100px 30px 100px;
    color: #FFFFFF;
    max-width: 900px;
    margin: 0 auto;
}
.wrap-promotion .box-promotion h3{
    margin: 0;
    color:#FFFFFF;
    font-size:24px;
    margin-bottom: 20px;
    text-align: center;
}
.wrap-promotion .box-promotion .promotion-icon{
    position: absolute;
    right: 19%;
    margin-top: -40px;
    font-size: 3rem;
}
.wrap-promotion .box-promotion .promotion-icon.danger{
    color: #ff0838;
}
.wrap-promotion .box-promotion .promotion-icon.success{
    color: #0b9c13;
}


/************** Over Ride Select2 *********************/
.select2-container--bootstrap .select2-selection--single .select2-selection__rendered {
    font-family: 'rsu';
    font-size: 18px;
    line-height: 1.2em;
    font-weight: 400;
    color: #222;
    line-height: 2.5rem;
    padding: 0 15px;
}
.select2-container--bootstrap .select2-selection--single {
    background-color: #FFFFFF;
    border: 0px;
    height: 40px;
    padding: 8px 24px 6px 12px;
}
.select2-container--default .select2-selection--single .select2-selection__arrow b {
    border-width: 5px 4px 0 4px !important;
    border-color: transparent;
    position: relative;
    float: left;
    top: 14px;
    left: 12px;
    margin: 0;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
.select2-container--default .select2-selection--single .select2-selection__arrow b::after {
    color: #9d9d9d;
}
.select2-container--bootstrap .select2-selection--single .select2-selection__arrow {
    background: transparent;
    border-left: 2px solid transparent;
}
.select2-container--bootstrap .select2-selection--single .select2-selection__arrow b::after {
    color: #9d9d9d;
}
.select2-container--bootstrap.select2-container--focus .select2-selection, .select2-container--bootstrap.select2-container--open .select2-selection {
    -webkit-box-shadow: inset 0 1px 1px #f5f5f5, 0 0 8px transparent;
    box-shadow: inset 0 1px 1px #f5f5f5, 0 0 8px transparent;
    border-color: transparent;
}
.select2-container--bootstrap .select2-dropdown {
    border-color:transparent;
}
/*
.select2-search__field{
    display: none;
} */
.select2-container--bootstrap .select2-dropdown {
    border-color: transparent;
}

@media screen and (max-width: 1200px){
    .wrap-promotion{
        height: 350px;
    }
}
@media (max-width: 991px){
    form label {
        font-size: 22px;
    }
    .wrap-promotion{
        height: 300px;
        background-position: 80% 50%;
    }
    .wrap-promotion .box-promotion{
        width: 100%;
    }
    .dash-after::after{
        display: none;
    }
}
@media (max-width: 768px){
    form label {
        font-size: 24px;
    }
    .wrap-promotion .box-promotion{
        padding: 25px 50px 30px 50px;
    }
}
