.myfade{
    opacity:0;
  }
  
  .droplet-left {
    transform: rotate(-90deg);
    margin-left: -100px;
    opacity: 0;
    transition: all 0.8s;
    transition-timing: ease-in-out;
  }
  .droplet-left-active {
    transform: rotate(0deg);
    opacity: 1;
    margin-left: 0px;
  }
  
  .droplet-right {
    transform: rotate(90deg);
    margin-right: -100px;
    opacity: 0;
    transition: all 0.8s;
    transition-timing: ease-in-out;
  }
  .droplet-right-active {
    transform: rotate(0deg);
    opacity: 1;
    margin-right: 0px;
  }
  
  @keyframes myfadeInUp {
      from {
        opacity: 1;
        transform: translate3d(-200%, 200%, 0) skew(-30deg);
      }
    
      to {
        opacity: 1;
        transform: translate3d(0, 0%, 0) skew(-30deg);
      }
    }
    .myfadeInUp {
      animation-name: myfadeInUp;
    }
    @keyframes myfadeInDown {
      from {
        opacity: 1;
        transform: translate3d(200%, -200%, 0) skew(-30deg);
      }
    
      to {
        opacity: 1;
        transform: translate3d(0, 0%, 0) skew(-30deg);
      }
    }
    .myfadeInDown {
      animation-name: myfadeInDown;
    }
  
    /*Animate css Overide */
  @keyframes fadeInRight-30 {
    from {
        opacity: 0;
        transform: translate3d(30%, 0, 0);
    }
  
    to {
        opacity: 1;
        transform: none;
    }
  }
  .fadeInRight-30 {
    animation-name: fadeInRight-30;
  }
  @keyframes fadeInLeft-30 {
    from {
        opacity: 0;
        transform: translate3d(-30%, 0, 0);
    }
  
    to {
        opacity: 1;
        transform: none;
    }
  }
  .fadeInLeft-30{
    animation-name: fadeInLeft-30;
  }
  @keyframes fadeInRight-20 {
    from {
        opacity: 0;
        transform: translate3d(20%, 0, 0);
    }
  
    to {
        opacity: 1;
        transform: none;
    }
  }
  .fadeInRight-20 {
    animation-name: fadeInRight-20;
  }
  
  @keyframes fadeInLeft-20 {
    from {
        opacity: 0;
        transform: translate3d(-20%, 0, 0);
    }
  
    to {
        opacity: 1;
        transform: none;
    }
  }
  .fadeInLeft-20{
    animation-name: fadeInLeft-20;
  }
  
  @keyframes fadeInUp-20 {
    from {
        opacity: 0;
        transform: translate3d(0, 20%, 0);
    }
  
    to {
        opacity: 1;
        transform: none;
    }
  }
  .fadeInUp-20 {
    animation-name: fadeInUp-20;
  }
  @keyframes fadeInDown-20 {
    from {
        opacity: 0;
        transform: translate3d(0, -20%, 0);
    }
  
    to {
        opacity: 1;
        transform: none;
    }
  }
  .fadeInDown-20 {
    animation-name: fadeInDown-20;
  }