#wrap_process{
    width:100%;
    height:100%;
    text-align: center;
    padding-top:5%;
}

.section-title {
    width: 100%;
    font-family: 'ArialBold';
    font-size: 30px;
    line-height: 1.2em;
    color: #222;
    margin: 10px 0px 20px 0px;
    text-align: center;
}
.section-title span {
    color: #c80027;
    font-size:25px;
}