.wrap_container{
    margin-top: 116px;
}
.wrap-bg{
    width:100%;
    height:auto;
    background-color: #f3f3f3;
}
.response-box{
    height:auto;
    margin:0 auto;
    text-align: center;
    padding-top:20px;
    padding-bottom:60px;
    font-weight: normal;
}
.reason-box{
    padding-top:20px;
}
.reason-box h4{
    font-size:25px;
    color: #c30404;
}
.container-fluid{
    padding:0px;
    margin:0px;
}
.foot{
    padding-top: 30px;
}