
#section_banner{
    margin-top:110px;
}
.wrap-banner{
    padding:0;
    margin:0;
}
.wrap-banner img{
    width:100%;
}
.wrap-form{
    font-family: "rsu";
    height:auto;
    padding: 50px 30px;
}
.wrap-form .title{
    font-size: 36px;
    margin-bottom: 40px;
    font-weight: bold;
}
.wrap-form .form_register #button-submit{
    width: 100%;
    padding:10px 30px;
    height:50px;
    font-size: 18px;
    margin: 20px 0px;
}
.wrap-form label{
    font-family: "rsu_bold";
    color: #606060;
}
.wrap-form label.error{
    color: #c80027;
}
.wrap-form .input-text{
    background-color: #FFFFFF;
    border: 1px solid #aaa;
    font-size: 18px;
    padding: 5px 10px;
    height: 37px;
}
.wrap-popup{
    position: absolute;
    top: 0px;
    padding-top: 10%;
    width: 100%;
    height: 100%;
    z-index: 100;
    background-color: #00000031;
    display: none;
}
.wrap-popup.active{
    display: block;
}
.wrap-popup .box-popup{
    width: 50%;
    max-width: 500px;
    min-height: 320px;
    margin: 0 auto;
    background-color:#FFFFFF;
    border-radius: 5px;
    -webkit-box-shadow: 0px 0px 5px 0px rgba(80, 80, 80, 0.75);
    -moz-box-shadow: 0px 0px 5px 0px rgba(92, 92, 92, 0.75);
    box-shadow: 0px 0px 5px 0px rgba(94, 93, 93, 0.75);
    text-align: center;
    padding: 30px;
}
.wrap-popup .box-popup svg{
    width: 120px;
    height: 120px;
    margin: 0 auto;
}

.dtp > .dtp-content > .dtp-date-view > header.dtp-header {
    background-color:#c80027;   
}
.dtp div.dtp-date, .dtp div.dtp-time {
    background-color: #c80027;
}
.dtp-content{
    font-family: Arial, Helvetica, sans-serif;
}
.dtp-buttons button{
    background-color:transparent;
}
.dtp .p10 > a {
    color: #ffffff;
    text-decoration: none;
}
.dtp table.dtp-picker-days tr > td > a.selected {
    background: #ed5564;
    color: #fff;
}

.text-inactive{
    color:#c80027;
}
.text-active{
    color:#318606;
}
.alert ul{
    list-style: none;
}
.box-error{
  width: 100%;
  height: 450px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.box-error svg{
    width: 100px;
    display: block;
    margin: 40px auto 0;
}

.select2-container--bootstrap .select2-selection--single .select2-selection__rendered{
    color:#3C3C3B;
    padding: 0;
}
.select2-container--bootstrap .select2-selection--single{
    border: 2px solid #c7c7c7;
}
.select2-container--bootstrap .select2-selection--single .select2-selection__arrow{
    background: #FF4343;
}
.select2-container--bootstrap .select2-selection--single .select2-selection__arrow{
    width: 32px;
    height: 37px;
    background: #FF4343;
    border-left: 2px solid white;
    -moz-border-radius-topright: 7px;
    border-top-right-radius: 5px;
    -moz-border-radius-bottomright: 7px;
    border-bottom-right-radius: 5px;
    top: 2px;
    right: 2px;
}
.select2-container--bootstrap .select2-results__option--highlighted[aria-selected]{
    background: #FF4343;
}


@-webkit-keyframes bounceIn {
    from,
    20%,
    40%,
    60%,
    80%,
    to {
      -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
      animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    }
  
    0% {
      opacity: 0;
      -webkit-transform: scale3d(0.3, 0.3, 0.3);
      transform: scale3d(0.3, 0.3, 0.3);
    }
  
    20% {
      -webkit-transform: scale3d(1.1, 1.1, 1.1);
      transform: scale3d(1.1, 1.1, 1.1);
    }
  
    40% {
      -webkit-transform: scale3d(0.9, 0.9, 0.9);
      transform: scale3d(0.9, 0.9, 0.9);
    }
  
    60% {
      opacity: 1;
      -webkit-transform: scale3d(1.03, 1.03, 1.03);
      transform: scale3d(1.03, 1.03, 1.03);
    }
  
    80% {
      -webkit-transform: scale3d(0.97, 0.97, 0.97);
      transform: scale3d(0.97, 0.97, 0.97);
    }
  
    to {
      opacity: 1;
      -webkit-transform: scale3d(1, 1, 1);
      transform: scale3d(1, 1, 1);
    }
  }
  
  @keyframes bounceIn {
    from,
    20%,
    40%,
    60%,
    80%,
    to {
      -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
      animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    }
  
    0% {
      opacity: 0;
      -webkit-transform: scale3d(0.3, 0.3, 0.3);
      transform: scale3d(0.3, 0.3, 0.3);
    }
  
    20% {
      -webkit-transform: scale3d(1.1, 1.1, 1.1);
      transform: scale3d(1.1, 1.1, 1.1);
    }
  
    40% {
      -webkit-transform: scale3d(0.9, 0.9, 0.9);
      transform: scale3d(0.9, 0.9, 0.9);
    }
  
    60% {
      opacity: 1;
      -webkit-transform: scale3d(1.03, 1.03, 1.03);
      transform: scale3d(1.03, 1.03, 1.03);
    }
  
    80% {
      -webkit-transform: scale3d(0.97, 0.97, 0.97);
      transform: scale3d(0.97, 0.97, 0.97);
    }
  
    to {
      opacity: 1;
      -webkit-transform: scale3d(1, 1, 1);
      transform: scale3d(1, 1, 1);
    }
  }
  
  .bounceIn {
    -webkit-animation-duration: 0.75s;
    animation-duration: 0.75s;
    -webkit-animation-name: bounceIn;
    animation-name: bounceIn;
  }

@media only screen and (max-width:991px){
    #section_banner{
        margin-top: 57px;
    }
    .wrap-form{
        padding: 10px 20px;
    }
}
@media only screen and  (max-width: 320px){
    .wrap-form .title{
        font-size:28px;
    }
}
