@font-face {
    font-family: 'thaisans_neueregular';
    src: url('../fonts/thaisansneue-regular-webfont.eot');
    src: url('../fonts/thaisansneue-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/thaisansneue-regular-webfont.woff2') format('woff2'),
         url('../fonts/thaisansneue-regular-webfont.woff') format('woff'),
         url('../fonts/thaisansneue-regular-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'th_saraban_new';
    src: url('../../fonts/THSarabunNew.ttf') format('truetype'); 
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'myriadpro_regurar';
    src: url('../fonts/MYRIADPROREGULAR.woff') format('woff'),
         url('../fonts/MYRIADPROREGULAR.ttf') format('truetype');
}
@font-face {
    font-family: 'rsu_bold';
    src: url('../../fonts/RSU_BOLD.eot');
    src: url('../../fonts/RSU_BOLD.eot?#iefix') format('embedded-opentype'),
         url('../../fonts/RSU_BOLD.ttf') format('truetype');
         
}
@font-face {
    font-family: 'rsu';
    src: url('../../fonts/RSU_Regular.eot');
    src: url('../../fonts/RSU_Regular.eot?#iefix') format('embedded-opentype'),
         url('../../fonts/RSU_Regular.ttf') format('truetype');
         
}
@font-face {
    font-family: 'ArialBold';
    src: url('../../fonts/ArialRoundedMTBold.woff') format('woff')
}

*:focus {
    outline: none !important;
}
body{
    font-family: 'rsu_bold';
    height:100%;
    font-size:18px;
    background:#FFFFFF;
    position: relative;
}
.web-container{
    position: relative;
    overflow-x: hidden;
}
.p-a-0{
    padding:0px;
}
.p-t-0{
    padding-top:0px;
}
.p-r-0{
    padding-right:0px;
}
.p-b-0{
    padding-bottom:0px;
}
.p-l-0{
    padding-left:0px;
}
.m-a-0{
    margin: 0px;
}
.m-t-0{
    margin-top: 0px;
}
.m-r-0{
    margin-right: 0px;
}
.m-b-0{
    margin-bottom: 0px;
}
.m-l-0{
    margin-left: 0px;
}
.m-b-10{
    margin-bottom: 10px;
}
.m-b-20{
    margin-bottom: 20px !important;
}

section{
    position: relative;
}

.select2-container--bootstrap .select2-selection--single {
    background-color: transparent;
    border: 2px solid white;
}
.select2-container .select2-selection--single {
    height: auto;
    -moz-border-radius: 7px !important;
    border-radius: 7px !important;
    outline: none;
}
.select2-container--bootstrap .select2-selection--single .select2-selection__rendered {
    font-family: 'rsu';
    font-size: 18px;
    line-height: 1.2em;
    font-weight: 400;
    color: #fff;
    line-height: 2.5rem;
    padding: 0 20px;
}
.select2-container--bootstrap .select2-selection--single .select2-selection__arrow {
    width: 30px;
    height: 37px;
    background: #c80027;
    border-left: 2px solid white;
    -moz-border-radius-topright: 7px;
    border-top-right-radius: 7px;
    -moz-border-radius-bottomright: 7px;
    border-bottom-right-radius: 7px;
    top: 2px;
    right: 2px;
    text-align: center;
}
.select2-container--bootstrap .select2-selection--single .select2-selection__arrow b::after {
    content: '\f078';
    font-family: 'FontAwesome';
    font-size: 14px;
    line-height: 0;
    color: white;
    position: absolute;
    top: -3px;
    left: 0px;
}
.select2-container--bootstrap .select2-selection--single .select2-selection__arrow b {
    border-color: transparent;
    left: 50%;
    margin-left: -10px;
}
.select2-container--bootstrap .select2-results__option--highlighted[aria-selected] {
    background-color: #FF4343;
    color: #fff;
}
.select2-container--bootstrap .select2-dropdown {
    border-color: #FF4343;
}
.select2-container--bootstrap.select2-container--focus .select2-selection, .select2-container--bootstrap.select2-container--open .select2-selection {
    -webkit-box-shadow: inset 0 1px 1px #f5f5f5, 0 0 8px #ff0838;
    box-shadow: inset 0 1px 1px #f5f5f5, 0 0 8px #ff0838;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    border-color: #9c0825;
}
.select2-container--bootstrap.select2-container--open .select2-selection .select2-selection__arrow b {
    border-color: transparent transparent transparent;
}

.form-control:focus {
    border-color: #9c0825;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(255, 0, 0, 0.6);
}


/***************** template ui *********************/
.mat-btn{
    height: 36px;
    background: #FF4343;
    margin-left: 10px;
    -moz-border-radius: 7px;
    border-radius: 7px;
    margin-right: 5px;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
    color: #FFFFFF !important;
    transition:all .5s ease;
}
.mat-btn:hover{
    background: #c80027;
    color:#FFFFFF;
}
/* Tooltip container */
.my-tooltip {
    position: relative;
  }
  
  /* Tooltip text */
  .my-tooltip .tooltiptext {
    visibility: hidden;
    width: 200px;
    background-color: #b9b9b9;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
    font-size: 16px;
  
    /* Position the tooltip text */
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -60px;
  
    /* Fade in tooltip */
    opacity: 0;
    transition: opacity 0.3s;
  }
  
  /* Tooltip arrow */
  .my-tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #b9b9b9 transparent transparent transparent;
  }
  
  /* Show the tooltip text when you mouse over the tooltip container */
  .my-tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
  }

/************* Bootstrap Dialog ********/
.bootstrap-dialog .bootstrap-dialog-title {
    font-size: 20px !important;
}
.bootstrap-dialog .bootstrap-dialog-message {
    font-size: 17px !important;
    color: #333;
}
.bootstrap-dialog.type-primary .modal-header {
    background-color: #FF4343 !important;
}
.close {
    font-size: 30px !important;
    color: #fff !important;
    text-shadow: 0 1px 0 #fff !important;
    opacity: .8 !important;
}

/***************** Menu Navbar *********************/
.nav-container {
    margin:0 auto;
}
.web-navbar{
    background-color: transparent;
    -moz-transition: all .5s ease;
    -webkit-transition: all .5s ease; /* Safari */
    transition: all .5s ease;
    color:#FFFFFF;
    border: 0px solid transparent;
}
.web-navbar .border-bottom{
    border-bottom: 2px solid #FFFFFF;
    margin-top: 22px;
}
.web-navbar .navbar-brand{
    position: absolute;
    top: 25px;
    width:194px;
    height:60px;
    -moz-transition: all .5s ease;
    -webkit-transition: all .5s ease; /* Safari */
    transition: all .5s ease;
    background-image:url('../../images/web/logo/logomain2.png');
    background-size: cover;
}
.web-navbar.web-navbar-light .navbar-brand{
    background-image:url('../../images/web/logo/logomain.light.png');
}
.web-navbar.web-navbar-light2 .navbar-brand{
    background-image:url('../../images/web/logo/Logo_Sompo.png');
}
.web-navbar a{
    color:#FFFFFF;
    font-family: 'rsu_bold';
    font-size: 16px;
    -webkit-transition: all .5s ease; /* Safari */
    transition: all .5s ease;
    cursor:pointer;
}
.web-navbar a:focus{
    outline: 0;
}
.web-navbar li a:hover,.web-navbar li.active a,.web-navbar li a:focus{
    color: #ffefb4;
    background-color: transparent !important;
}
.web-navbar li a.mat-btn:hover{
    color: #ffefb4;
    background: #c80027 !important;
}
.web-navbar .navbar-language li a.active{
    color:#ffefb4;
}
.web-navbar .mobile-foot .lang a.active{
    color:#c80027;
}

.web-navbar img.svg{
    width:30px;
}
.web-navbar .right-menu{
    width:150px;
    background-color:rgba(255, 255, 255, 0.205);
}
.web-navbar .nav-row{
    width:100%;
    display: block;
    -moz-transition: all .5s ease;
    -webkit-transition: all .5s ease; /* Safari */
    transition: all .5s ease;
}
.web-navbar .navbar-language a{
    display: inline-block;
    padding:15px 10px;
}
.web-navbar .navbar-menu li{
    padding-top:8px;
}
.web-navbar .navbar-menu .nav-btn{
    padding-top:0px;
}
.web-navbar .navbar-menu .nav-btn .btn{
    padding-top:12px;
}

.web-navbar .navbar-menu li:not(.no-bucket):before{
    content: "|";
    position: absolute;
    top: 4px;
    left: -3px;
    color: #FFFFFF;
}
.web-navbar .navbar-menu a{
    padding: 5px 20px;
    line-height: 10px;
}
.web-navbar .social-icon{
    padding-right:5px;
    margin-top: -5px;
    margin-left: 10px;
}
.web-navbar .social-icon a{
    display: inline-block;
    padding: 0px 3px;
    width:36px;
}
.web-navbar .social-icon a > *{
    height: 30px;
}
.web-navbar .li-mobile-foot .social a{
    width: 36px;
    padding: 0px;
    display: inline-block;
    margin: 0px 10px;
}
.web-navbar li.btn a{
    padding: 5px 10px;
}

.web-navbar .navbar-toggle .icon-bar+.icon-bar {
    margin-top: 6px;
}
.web-navbar .navbar-toggle .icon-bar {
    width: 30px;
    height: 3px;
    margin-top: 0px;
    background-color: #FFFFFF;
}
.web-navbar.web-navbar-light2 .navbar-toggle .icon-bar {
    height: 4px;
    background-color: #c80027;
}
.web-navbar .mobile-foot{
    margin-top: 20px;
    display: inline-block;
}
.web-navbar .mobile-foot .lang {
    width: auto;
    float: left;
    border-right: 1px solid #222;
    padding-right: 10px;
}
.web-navbar .mobile-foot .social{
    width: auto;
    float: left;
    /* padding-left: 10px; */
}
.web-navbar .navbar-collapse {
    max-height: 500px;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}
.web-navbar .li-mobile-foot{
    display: none;
}
.web-navbar .border-bottom{
    border:1px solid #FFFFFF;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    transition: all 0.3s ease
}
.web-navbar.affix .border-bottom{
    border:0px;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    transition: all 0.3s ease
}

.web-navbar.web-navbar-light{
    background: #FFFFFF;
    color:#222;
}
.web-navbar.web-navbar-light li a{
    font-family: 'rsu_bold';
    font-size: 16px;
    color:#222;
    cursor:pointer;
}
.web-navbar.web-navbar-light li.active a{
    color:#ab102e;
}
.web-navbar.web-navbar-light li a:hover,.web-navbar.web-navbar-ligh li.active a{
    color: #ab102e;
}
.web-navbar.web-navbar-light .navbar-language{
    display: none;
}
.web-navbar.web-navbar-light .navbar-language li a.active{
    color:#c80027;
}

.web-navbar.web-navbar-light .social-icon a svg path {
    fill: #9d9d9d !important
}
.web-navbar.web-navbar-light .social-icon a:hover svg path {
    fill: #ff0838 !important
}
.web-navbar.web-navbar-light .social-icon .svg-line svg path {
    fill: #9d9d9d !important
}
.web-navbar.web-navbar-light .social-icon .svg-line svg path.fill_2 {
    fill: #FFFFFF !important;
}
.web-navbar.web-navbar-light .social-icon .svg-line:hover svg path {
    fill: #ff0838 !important
}
.web-navbar.web-navbar-light .social-icon .svg-line:hover svg path.fill_2 {
    fill: #FFFFFF !important
}
.web-navbar.web-navbar-light .navbar-menu{
    margin-top: 35px;
}
.web-navbar.web-navbar-light.affix .navbar-menu {
    margin-top: 50px;
}
.web-navbar.web-navbar-light .navbar-menu li:not(.no-bucket):before{
    content: "|";
    position: absolute;
    top: 4px;
    left: -3px;
    color: #333;
}

.web-navbar.web-navbar-light2{
    background: transparent;
    color:#3C3C3B;
}
.web-navbar.web-navbar-light2 li a{
    font-family: 'rsu_bold';
    font-size: 16px;
    color:#3C3C3B;
    cursor:pointer;
}
.web-navbar.web-navbar-light2 li.active a{
    color:#ab102e;
}
.web-navbar.web-navbar-light2 li a:hover,.web-navbar.web-navbar-ligh li.active a{
    color: #ab102e;
}
.web-navbar.web-navbar-light2 .navbar-language li a.active{
    color:#c80027;
}

.web-navbar.web-navbar-light2 .social-icon a svg path {
    fill: #000000 !important
}
.web-navbar.web-navbar-light2 .social-icon a:hover svg path {
    fill: #ff0838 !important
}
.web-navbar.web-navbar-light2 .social-icon .svg-line svg path {
    fill: #000000 !important
}
.web-navbar.web-navbar-light2 .social-icon .svg-line svg path.fill_2 {
    fill: #FFFFFF !important;
}
.web-navbar.web-navbar-light2 .social-icon .svg-line:hover svg path {
    fill: #ff0838 !important
}
.web-navbar.web-navbar-light2 .social-icon .svg-line:hover svg path.fill_2 {
    fill: #FFFFFF !important
}
.web-navbar.web-navbar-light2 .navbar-menu li:not(.no-bucket):before{
    content: "|";
    position: absolute;
    top: 4px;
    left: -3px;
    color: #333;
}
.web-navbar.web-navbar-light2 .navbar-language{
    display: none;
}
.web-navbar.web-navbar-light2 .navbar-menu{
    margin-top:35px;
}
.web-navbar.web-navbar-light2 .border-bottom{
    display: none;
}

.web-navbar.affix{
    background: #FFFFFF !important;
    margin-top: -34px;
    height: 104px;
}
.web-navbar.affix li a{
    color:#3C3C3B;
}
.web-navbar.affix li.active a,.web-navbar.affix li a:hover{
    color: #c80027;
}
.web-navbar.affix  li a.mat-btn {
    background: #FF4343 !important;
    color: #FFFFFF !important;
}
.web-navbar.affix  li a.mat-btn:hover {
    color: #FFFFFF !important;
    background: #c80027 !important;
}
.web-navbar.affix .navbar-brand{
    top: 45px;
    width: 140px;
    height: 43px;
    background-image:url('../../images/web/logo/Logo_Sompo.png');
}

.web-navbar.web-navbar-light.affix {
    background: #FFFFFF !important;
    -webkit-box-shadow: 0px 1px 5px 0px #b1b1b1;
    -moz-box-shadow: 0px 1px 5px 0px #b1b1b1;
    box-shadow: 0px 1px 5px 0px #b1b1b1;
}

.web-navbar.web-navbar-light2.affix{
    background: #FFFFFF !important;
    -webkit-box-shadow: 0px 1px 5px 0px #b1b1b1;
    -moz-box-shadow: 0px 1px 5px 0px #b1b1b1;
    box-shadow: 0px 1px 5px 0px #b1b1b1;
}
.web-navbar.web-navbar-light2.affix li a{
    color:#3C3C3B;
}
.web-navbar.web-navbar-light2.affix li.active a,.web-navbar.web-navbar-light2.affix li a:hover{
    color: #c80027;
}
.web-navbar.web-navbar-light2.affix  li a.mat-btn {
    background: #FF4343 !important;
    color: #FFFFFF !important;
}
.web-navbar.web-navbar-light2.affix  li a.mat-btn:hover {
    color: #FFFFFF !important;
    background: #c80027 !important;
}
.web-navbar.web-navbar-light2.affix .navbar-brand{
    background-image:url('../../images/web/logo/Logo_Sompo.png');
}
.web-navbar.web-navbar-light2.affix .navbar-menu {
    margin-top: 50px;
}

/* Svg Image */
.web-navbar  .mobile-foot .social a svg path {
    fill: #9d9d9d !important;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    transition: all 0.3s ease
}
.web-navbar  .mobile-foot .social a svg path.fill_2 {
    fill: #fff !important
}
.web-navbar  .mobile-foot .social a:hover svg path {
    fill: #ff0838 !important;
}
.web-navbar  .mobile-foot .social a:hover svg path.fill_2 {
    fill: #fff !important
}
.web-navbar.web-navbar-light2  .mobile-foot .social a svg path {
    fill: #000000 !important;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    transition: all 0.3s ease
}
.web-navbar.web-navbar-light2  .mobile-foot .social a svg path.fill_2 {
    fill: #fff !important
}
.web-navbar.web-navbar-light2  .mobile-foot .social a:hover svg path {
    fill: #ff0838 !important;
}
.web-navbar.web-navbar-light2  .mobile-foot .social a:hover svg path.fill_2 {
    fill: #fff !important
}



.web-navbar .social-icon a svg path {
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    transition: all 0.3s ease;
    fill: #fff !important
}

.web-navbar .social-icon a:hover svg path {
    fill: #ffefb4 !important
}

.web-navbar .social-icon .svg-line svg path {
    fill: #fff !important
}

.web-navbar .social-icon .svg-line svg path.fill_2 {
    fill: #00c300 !important
}

.web-navbar .social-icon .svg-line:hover svg path {
    fill: #ffefb4 !important
}

.web-navbar .social-icon .svg-line:hover svg path.fill_2 {
    fill: #00c300 !important
}
.web-navbar.affix .social-icon a svg path {
    fill: #FFF !important;
}
.web-navbar.web-navbar-light2.affix .social-icon a svg path {
    fill: #000000 !important;
}
.web-navbar.affix .social-icon a:hover svg path {
    fill: #ffefb4 !important;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    transition: all 0.3s ease
}
.web-navbar.web-navbar-light2.affix .social-icon a:hover svg path{
    fill: #ff0838 !important
}
.web-navbar.affix .social-icon .svg-line svg path {
    fill: #fff !important
}
.web-navbar.web-navbar-light2.affix .social-icon .svg-line svg path {
    fill: #000000 !important
}
.web-navbar.affix .social-icon .svg-line svg path.fill_2 {
    fill: #ab102e !important
}
.web-navbar.web-navbar-light2.affix .social-icon .svg-line svg path.fill_2 {
    fill: #FFFFFF !important
}

.web-navbar.affix .social-icon a.svg-line:hover  svg path{
    fill: #ffefb4 !important;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    transition: all 0.3s ease
}
.web-navbar.web-navbar-light2.affix .social-icon a.svg-line:hover  svg path{
    fill: #ff0838 !important;
}
.web-navbar.affix .social-icon a.svg-line:hover svg path.fill_2 {
    fill: #ab102e !important
}
.web-navbar.web-navbar-light2.affix .social-icon a.svg-line:hover svg path.fill_2 {
    fill: #FFFFFF !important
}
.web-navbar.affix .navbar-menu li:not(.no-bucket):before{
    content: "|";
    position: absolute;
    top: 4px;
    left: -3px;
    color: #FFFFFF;
}


.web-navbar.web-navbar-light2 .social-icon a svg path {
    fill: #000000 !important
}
.web-navbar.web-navbar-light2 .social-icon a:hover svg path {
    fill: #ff0838 !important
}
.web-navbar.web-navbar-light2 .social-icon .svg-line svg path {
    fill: #000000 !important
}
.web-navbar.web-navbar-light2 .social-icon .svg-line svg path.fill_2 {
    fill: #FFFFFF !important;
}
.web-navbar.web-navbar-light2 .social-icon .svg-line:hover svg path {
    fill: #ff0838 !important
}
.web-navbar.web-navbar-light2 .social-icon .svg-line:hover svg path.fill_2 {
    fill: #FFFFFF !important
}





/* ------------------------------------------ */

/****************** Footer ********************/
.footer-container{
    margin: 0;
    padding:0;
}
.web-footer{
    font-family: 'rsu';
    background: #FF4343;
    padding: 40px 0 30px;
    position: relative;
    color:#FFFFFF;
    font-size: 16px;
}
.web-footer-row{
    position: relative;
}
.web-footer .right-line{
    position: absolute;
    height: 75px;
    right: 0;
    top: 0;
    width: 1px;
    background-color: #FFFFFF;
}
.web-footer p{
    padding:0;
    margin: 0;
}
.web-footer a.tel{
    color:#FFFFFF;
    font-size: 26px;
    text-decoration: none;
}
.web-footer .social-icon a{
    width:30px;
    margin-right: 10px;
    display: inline-block;
}
.web-footer .social-icon a > *{
    height: 30px;
}
.web-footer .social-icon .svg path {
    fill: #fff !important;
}
.web-footer .social-icon .svg path.fill_2 {
    fill: #FF4343 !important;
}
.web-footer .footer-copy-right{
    margin-top: 20px;
}
.web-footer .backtotop {
    position: absolute;
    bottom: 50px;
    right: 50px;
    z-index: 100;
    opacity: 0.8;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
.web-footer .backtotop i {
    color: white;
    font-size: 40px;
    position: relative;
    text-shadow: 0 2px 10px rgba(0,0,0,0.15);
}
.web-footer .backtotop:hover{
    opacity: 1;
}
.web-footer .backtotop i:after {
    content: "Back to top";
    width: 100px;
    position: absolute;
    bottom: -18px;
    right: -42px;
    font-family: 'ArialBold';
    font-size: 15px;
    color: white;
}
@media only screen and  (max-width: 1200px){
    .web-footer .paragraph{
        font-size: 13px;
    }
}
@media only screen and  (max-width: 991px){
    .web-footer .paragraph{
        font-size: 16px;
        margin-bottom: 20px;
        padding-left:0px;
        padding-right:0px;
    }
    .web-footer .copy-right-paragraph{
        padding-left: 0px;
        padding-right: 0px;
    }
    .web-footer .copy-right-paragraph > div{
        padding-top:20px;
        border-top: 1px solid #FFFFFF;
    }
    .web-footer .backtotop {
        top: 30px;
        right: 50px;
    }
    .web-footer .right-line{
        display: none;
    }
    .web-footer p {
        line-height: 1;
    }

    .web-navbar .navbar-brand{
        top: 10px;
        left: 15px;
        width: 120px !important;
        height: 37px !important;
        background-image:url('../../images/web/logo/logomain.png');
    }
    .web-navbar.web-navbar-light .navbar-brand {
        background-image: url('../../images/web/logo/logomain.png');
    }
    .web-navbar .border-bottom{
        display:none;
    }
    .web-navbar .navbar-nav{
        padding: 15px 0;
    }
    .web-navbar .navbar-header{
        background: rgba(177,6,39,0.9);
    }
    .web-navbar.web-navbar-light2 .navbar-header{
        background: #FFFFFF;
    }
    .web-navbar .navbar-language{
        display: none;
    }
    .web-navbar .navbar-menu .social-icon{
        display: none;
    }
    .web-navbar .nav-row {
        margin: 0;
    }
    .web-navbar .navbar-collapse {
        background-color: #FFFFFF;
    }
    .web-navbar li a{
        color:#222;
        -webkit-transition: all 0.5s ease;
        -moz-transition: all 0.5s ease;
        transition: all 0.5s ease;
    }
    .web-navbar li a:hover, .web-navbar li.active a {
        color: #ff0838;
    }
    .web-navbar .navbar-menu li{
        text-align: center;
        padding: 10px 0px;
    }
    .web-navbar .navbar-menu .nav-btn {
        margin-top: 15px;
    }
    .web-navbar .navbar-menu .nav-btn .btn {
        padding-top: 17px;
        width: 180px;
        margin: 0 auto;
        color: #FFFFFF;
        height: 43px;
    }
    .web-navbar .li-mobile-foot{
        display: block;
    }

    .web-navbar.affix{
        margin-top: 0px;
        height: auto;
    }
    .web-navbar.affix .navbar-brand{
        top: 10px;
        left: 15px;
        width: 120px !important;
        height: 37px !important;
        background-image:url('../../images/web/logo/logomain.png');
    }
    .web-navbar.affix li a.mat-btn {
        background: #c80027 !important;
        color: #FFFFFF;
    }
    .web-navbar.affix li a{
        color:#222;
    }
    .web-navbar.affix li.active a,.web-navbar.affix li a:hover{
        color: #c80027;
    }
    .web-navbar.affix  li a.mat-btn {
        background: #c80027 !important;
        color: #FFFFFF !important;
    }
    .web-navbar.affix  li a.mat-btn:hover {
        color: #FFFFFF !important;
        background: #ff0838 !important;
    }
    
    
    
}
@media (min-width: 768px) and (max-width: 991px) {
    .navbar-nav .open .dropdown-menu {
        position: static;
        float: none;
        width: auto;
        margin-top: 0;
        background-color: transparent;
        border: 0;
        -webkit-box-shadow: none;
        box-shadow: none;
    }
    .navbar-nav .open .dropdown-menu > li > a {
        line-height: 20px;
    }
    .navbar-nav .open .dropdown-menu > li > a,
    .navbar-nav .open .dropdown-menu .dropdown-header {
        padding: 5px 15px 5px 25px;
    }
    .dropdown-menu > li > a {
        display: block;
        padding: 3px 20px;
        clear: both;
        font-weight: normal;
        line-height: 1.42857143;
        color: #333;
        white-space: nowrap;
    }
    .navbar-header {
        float: none;
    }
    .navbar-toggle {
        display: block;
    }
    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
    }
    .navbar-collapse.collapse {
        display: none!important;
    }
    .navbar-nav {
        float: none!important;
    }
    .navbar-nav>li {
        float: none;
    }
    .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .navbar-text {
        float: none;
        margin: 15px 0;
    }
    /* since 3.1.0 */
    .navbar-collapse.collapse.in { 
        display: block!important;
        -webkit-box-shadow: 0px 2px 2px 0px rgba(158, 158, 158, 0.75);
        -moz-box-shadow: 0px 2px 2px 0px rgba(158, 158, 158, 0.75);
        box-shadow: 0px 2px 2px 0px rgba(158, 158, 158, 0.75);
    }
    .collapsing {
        overflow: hidden!important;
    }

    .web-navbar.web-navbar-light2 .navbar-menu,.web-navbar.web-navbar-light2.affix .navbar-menu{
        margin-top: 0px;
    }
    

}
@media only screen and  (max-width: 768px){
    .container{
        padding:0 15px;
    }
    .web-footer .paragraph{
        padding-left:15px;
        padding-right:15px;
    }
    .web-footer .copy-right-paragraph{
        padding-left:15px;
        padding-right:15px;
    }
    .web-navbar.web-navbar-light2 .navbar-menu,.web-navbar.web-navbar-light2.affix .navbar-menu{
        margin-top: 0px;
    }
}
@media only screen and  (max-width: 441px){
    .web-footer .backtotop {
        bottom: 126px;
        top: inherit;
    }
}
@media only screen and  (min-width: 992px){
    .nav-container {
        width: 970px;
    }
    .container {
        padding: 0;
    }
    .modal-dialog {
        margin: 130px auto;
    }
}
@media only screen and  (min-width: 1200px){
    .nav-container {
        width: 1170px;
    }
}
@media only screen and (min-width: 1320px){
    .nav-container {
        width: 1200px;
    }
    .container {
        width: 1200px;
    }
}
