.alert ul{
    list-style: none;
}

.switch-language-box{
    margin-top:12px;
    margin-left: 25px;
}
.switch-language-box ul.dropdown-menu{
    width:0px;
}
.language-toggle{
    cursor:pointer;
}
.language-data{
    position: absolute;
    display: none;
    padding: 10px;
    margin-top: 3px;
    margin-left: -10px;
    border-radius: 3px;
    background-color: #00000033;
}