.box-image-preview{
    margin-bottom: 10px;
}
.image-preview{
    max-width: 100%;
    max-height:200px;
}
.box-append{
    display:none;
}
.box-append.active{
    display: block;
}

@media screen and (max-width:992px){
    .image-preview{
        max-width: 100%;
        max-height:100%;
    }
}