legend{
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 5px;
}
.wrapSections{
    margin-bottom: 25px;
}
.text-default{
    color: rgb(141, 141, 141);
}
.tr-head{
    border-bottom:1px solid rgb(238, 238, 238);
}
.btn-process{
    width: 150px;
}
.button-text-state{
    display: none;
}
.button-text-state.active{
    display: inline-block;
}
.label-form{
    font-weight: normal;
}
.btn-viewlog{
    display: inline-block;
    background-color: rgb(238, 238, 238);
}