.panel-heading h1.title{
    margin-top: 20px;
    margin-bottom: 10px;
}
fieldset 
{
    width:100%;
    border: 1px solid rgb(236, 236, 236) !important;
    margin: 0;
    padding: 10px;       
    position: relative;
    border-radius:4px;
    padding-left:10px!important;
    color: #000000;
}	

legend
{
    font-size:14px;
    font-weight:bold;
    margin-bottom: 0px; 
    width: 35%; 
    border-radius: 4px; 
    padding: 5px 5px 5px 10px; 
    background-color: #ffffff;
    -webkit-box-shadow: 1px 1px 5px 0px rgba(171, 171, 171, 0.75);
    -moz-box-shadow: 1px 1px 5px 0px rgba(171, 171, 171, 0.75);
    box-shadow: 1px 1px 5px 0px rgba(171, 171, 171, 0.75);
    color:#FFFFFF;
}
legend.dark-red{
    background-color: #e46050;
}
legend.dark-green{
    background-color: #78bd5d;
}
legend.dark-orange{
    background-color: #f4ab43;
}
.field-body{
    padding-left:20px;
    padding-top:10px;
}