.log-detail-title{
    margin: 0px;
    margin-bottom: 10px;
    font-size: 14px;
}
.log-detail-title span{
    font-weight: normal;
    margin-left: 10px;
}

.log-code-title{
    margin-top: 20px;
    margin-bottom: 10px;
    font-size: 14px;
}

#post_area{
    white-space: pre-wrap;
    max-width: 800px;
}