.page-signin-header {
    box-shadow: 0 2px 2px rgba(0,0,0,.05), 0 1px 0 rgba(0,0,0,.05);
  }

  .page-signin-header .btn {
    position: absolute;
    top: 12px;
    right: 15px;
  }

  html[dir="rtl"] .page-signin-header .btn {
    right: auto;
    left: 15px;
  }

  .page-signin-container {
    width: auto;
    margin: 30px 10px;
  }

  .page-signin-container form {
    border: 0;
    box-shadow: 0 2px 2px rgba(0,0,0,.05), 0 1px 0 rgba(0,0,0,.05);
  }

  @media (min-width: 544px) {
    .page-signin-container {
      width: 350px;
      margin: 60px auto;
    }
  }

  .page-signin-social-btn {
    width: 40px;
    padding: 0;
    line-height: 40px;
    text-align: center;
    border: none !important;
  }

  #page-signin-forgot-form { display: none; }

  .px-responsive-bg-overlay{
    background-image:url('../../images/admin/background/login.jpg');
    background-size:cover;
    -webkit-filter: blur(5px) brightness(70%);
    -moz-filter: blur(5px) brightness(70%);
    -o-filter: blur(5px) brightness(70%);
    -ms-filter: blur(5px) brightness(70%);
    filter: blur(5px) brightness(70%);
  }

  .alert ul{
    list-style: none;
  }

  label.error{
    color:#c80027;
  }