.bt-add-menu{
    cursor:pointer;
}
.wrap_menu{
    list-style: none;
    padding-left: 0;
}
ol.menu li{
    padding: 10px 15px;
    border-bottom: 1px solid rgba(8, 8, 8, 0.08);
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;    
    color: #3c763d;
    -webkit-box-shadow: 0 1px 1px rgba(0,0,0,.05);
    box-shadow: 0 1px 1px rgba(0,0,0,.05);
    border: 1px solid rgba(8, 8, 8, 0.08);
    border-radius: 4px;
    margin-bottom:5px;
    cursor:pointer;
    margin-top:10px;
}
ol.menu li.active{
    background-color: #dff0d8;
    border-color: #d6e9c6;
}
ol.menu li:hover{
    -webkit-box-shadow: inset 0px 0px 5px 1px rgba(0,0,0,0.07);
    -moz-box-shadow: inset 0px 0px 5px 1px rgba(0,0,0,0.07);
    box-shadow: inset 0px 0px 5px 1px rgba(0,0,0,0.07);
}   
ol{
    list-style-type: none;
    padding-left: 0px;
}
ol.sub-menu > li:nth-child(1){
    margin-top:20px;
}
ol a.edit-menu,ol a.delete-menu{
    border-left: 1px solid #dedede;
    padding-left: 10px;
    margin-left:10px;
}
span.select2{
    width:100% !important;
}
.pem-menu{
    padding: 10px 15px;
    border-bottom: 1px solid rgba(8, 8, 8, 0.08);
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;    
    color: #3c763d;
    -webkit-box-shadow: 0 1px 1px rgba(0,0,0,.05);
    box-shadow: 0 1px 1px rgba(0,0,0,.05);
    border: 1px solid rgba(8, 8, 8, 0.08);
    border-radius: 4px;
    cursor:pointer;
}
.pem-menu-hidden{
    
}
.table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td{
    padding: 5px;
}

.switcher-center{
    left: 50%;
    transform: translateX(-50%);
}

.p-a-05{
    padding:5px !important;
}