.policy-container{
    position: relative;
    max-width:100%;
    -webkit-box-shadow: 1px 1px 5px 0px rgba(153,148,153,1);
    -moz-box-shadow: 1px 1px 5px 0px rgba(153,148,153,1);
    box-shadow: 1px 1px 5px 0px rgba(153,148,153,1);
}
.policy-container .container-fluid{
    padding:0px;
}

.text-header{
    width:400px;
    color:#979595;
}
.text-header h3{
    padding:0;
    margin: 0;
    padding-bottom:5px;
    font-weight: 700;
    font-size: 14px;
}
.text-header p{
    padding:0;
    margin: 0;
    padding-left:10px;
    padding-bottom:5px;
    font-size:14px;
}
.text-red{
    color:#da4c4e;
}
.header-h3{
    margin-top: 10px;
    padding:0px;
}

.box-header{
    background-color:#da4c4e;
    color:#FFFFFF;
}
.box-header.box-header-gray{
    background-color:#848484;
}
.box-header h3{
    padding:0px;
    margin:0px;
    padding:10px 15px;
    font-weight: 100;
}
.box-body{
    padding-top:20px;
    padding-bottom:20px;
    color:#757373;
    border-right:1px solid #DFDFDF;
}
.box-body h4{
    margin: 0px;
    padding:0px;
    margin-left:20px;
    margin-bottom: 10px;
    color:#8F0808;
}

.td-name{
    font-size:14px;
    font-weight: bold;
    text-align: right;
    padding:5px;
    padding-right:15px;
    vertical-align: text-top;
}
.td-value{
    padding:5px;
    padding-left:15px;
    vertical-align: text-top;
}

.bt-edit-doc,.bt-edit-name,.view-modal,.bt-edit-info{
    cursor:pointer;
}

label.lb-name{
    font-weight: 100;
    margin: 0;
    padding: 0px;
}
label.error{
    color:#C60202;
}
.disable{
    display: none;
}
#row_save_name,#row_save_doc{
    display: none;
}

.modal-body h4{
    margin: 0px;
    padding: 0px;
    margin-bottom:10px;
}

.cursor-pointer{
    cursor:pointer;
}

.modal-topic{
    padding-bottom:20px;
}
.bt-update-endorse{
    cursor: pointer;
    margin-left:10px;
}
.print_icon{
    display: none;
}
.print_icon.active{
    display: block;
}


@media (max-width: 610px) {
    .text-header {
        width: 100%;
        float: none;
        margin-top: 20px;
    }
}
@media (max-width: 500px) {
    .text-header h3 {
        font-size:14px;
    }
    .text-header p {
        font-size: 12px;
    }
    .order-container .panel-body{
        padding:10px !important;
    }
    .td-name,.td-value{
        font-size:12px;
    }
}


.ribbon {
    position: absolute;
    right: -5px; top: -5px;
    z-index: 1;
    overflow: hidden;
    width: 75px; height: 75px; 
    text-align: right;
 }
 .ribbon span {
    font-size: 14px;
    color: #fff; 
    text-transform: uppercase; 
    text-align: center;
    font-weight: bold; line-height: 20px;
    transform: rotate(45deg);
    width: 100px; display: block;
    background: #79A70A;
    background: linear-gradient(#9BC90D 0%, #79A70A 100%);
    box-shadow: 0 3px 10px -5px rgba(0, 0, 0, 1);
    position: absolute;
    top: 19px; right: -21px;
 }
 .ribbon span::before {
    content: '';
    position: absolute; 
    left: 0px; top: 100%;
    z-index: -1;
    border-left: 3px solid #79A70A;
    border-right: 3px solid transparent;
    border-bottom: 3px solid transparent;
    border-top: 3px solid #79A70A;
 }
 .ribbon span::after {
    content: '';
    position: absolute; 
    right: 0%; top: 100%;
    z-index: -1;
    border-right: 3px solid #79A70A;
    border-left: 3px solid transparent;
    border-bottom: 3px solid transparent;
    border-top: 3px solid #79A70A;
 }
 .red span {background: linear-gradient(#F70505 0%, #8F0808 100%);}
 .red span::before {border-left-color: #8F0808; border-top-color: #8F0808;}
 .red span::after {border-right-color: #8F0808; border-top-color: #8F0808;}

 .orange span {background: linear-gradient(#E62708 0%, #CB2307 100%);}
 .orange span::before {border-left-color: #E62708; border-top-color: #CB2307;}
 .orange span::after {border-right-color: #E62708; border-top-color: #CB2307;}
 
 .blue span {background: linear-gradient(#2989d8 0%, #1e5799 100%);}
 .blue span::before {border-left-color: #1e5799; border-top-color: #1e5799;}
 .blue span::after {border-right-color: #1e5799; border-top-color: #1e5799;}

 .gray span {background: linear-gradient(#616161 0%, #484747 100%);}
 .gray span::before {border-left-color: #616161; border-top-color: #484747;}
 .gray span::after {border-right-color: #616161; border-top-color: #484747;}

 .light-gray span {background: linear-gradient(#C3C3C3 0%, #616161 100%);}
 .light-gray span::before {border-left-color: #C3C3C3; border-top-color: #616161;}
 .light-gray span::after {border-right-color: #C3C3C3; border-top-color: #616161;}
 