#com-register{
    margin-top: 10px;
}
.register-body{
    display: none;
}
.register-body.active{
    display: block;
}
.box-image-preview{
    margin-bottom: 10px;
}
.image-preview{
    max-width: 100%;
    max-height:200px;
}
.box-list{
    margin-top: 50px;
}
.coupon-alert,.register-alert{
    color: rgb(221, 0, 0);
}

@media screen and (max-width:992px){
    .image-preview{
        max-width: 100%;
        max-height:100%;
    }
}