.bootgrid-header .btn{
    height: 40px;
    border-radius: 5px;
    box-sizing: border-box;
    border-width: 1px;
    background-color: transparent;
    font-size: 14px;
    font-weight: 500;
    padding: 7px 18px;
    border-color: #ececec;
    color: #66615B;
    -webkit-transition: all 150ms linear;
    -moz-transition: all 150ms linear;
    -o-transition: all 150ms linear;
    -ms-transition: all 150ms linear;
    transition: all 150ms linear;
}
.bootgrid-header .input-group{
    margin-bottom: 0px;
}
.bootgrid-header input{
    border:1px solid #ececec;
}
.input-group-addon{
    background-color: #ececec;
}
.bootgrid-header input:focus{
    border:0px;
}
.bootgrid-header .dropdown-menu{
    background-color: #FFFFFF;
}
.command-edit,.command-delete{
    padding:5px;
    font-size:20px;
    cursor:pointer;
}




